@media (max-width:350px) {
    .custom-tracking {
        font-size: 12px;
        width: 12rem;
        padding-top: 0.6rem;
    }

    .custom-tracking-text {
        padding-left: 12rem;
    }

}
@media (max-width:575px) {
    .title2 {
        font-size: 26px;
        line-height: 1.2;
    }

    #hide-property {
        display: none;
    }

    .crowpac-modal-icon {
        width: 150px;
    }

    .responsive-margin {
        margin-top: 2.5rem;
    }

}

@media (max-width:767px) {
    #right {
        display: none;
    }

    /*#navbarSupportedContent
    {
        display: block !important;
    }*/
    .right-sidebar-menu-title {
        display: none;
    }

    .labelHide {
        display: none;
    }

    .navbar-brand {
        display: none;
    }

    .header__button {
        display: none;
    }

    .navbar-responsive {
        width: auto;
    }

    .col-connection {
        display: none;
    }

    #showProperty {
        display: block;
    }

    .display-this-md {
        display: block;
    }

}



@media(min-width:768px) {
    #upperSelect {
        display: none !important;
    }

}

@media(max-width:979px) {
    .about-img {
        float: none;
        max-width: none;
        max-height: none;
        height: auto;
        width: 100%;
        margin: 10px 0px;
        vertical-align: middle;
    }

}