@media (max-width:575px)
{
	
	.title2 {
		font-size: 26px;
		line-height: 1.2;
	}
	#hide-property
	{
		display: none;
	}
	.crowpac-modal-icon
	{
		width:150px;
	}
	.responsive-margin
	{
		margin-top: 2.5rem;
	}
}
@media (max-width:767px)
{
	#right
	{
		display: none;
	}
	.right-sidebar-menu-title
	{
		display:none;
	}
}