/** {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: : none;
}

a:hover {
    text-decoration: none;
}
*/
ul,
ol {
    list-style-type: none;
}
/*
img {
    width: 100%;
    vertical-align: middle;
    height: auto;
}
*/
a.clsm {
    text-decoration: none;
    color: inherit;
}
a
{
	outline:none;
}
a.clsm:hover {
    text-decoration: none;
}

.page-divider,
.page-break {
    margin-left: auto;
    margin-right: auto;
    width: 470px;
}

/******************************* nav part start here***************************************/

.main-header__part {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    color: #ff4814;
    font-weight: 400;
    background-color: #fff;
    border-bottom: 1px solid #DDD;
    color: #787878;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.main__navbar ul li a {
    color: #ff4814 !important;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 600;
}

.main__navbar ul li a:hover {
    color: #121212 !important;
}

.site-header__logo {
    display: block;
    max-width: 11.56rem;
}

.navbar-brand {
    padding: 5px 1.3vw;
}

.header__button {
    background: #ff4814;
    border-color: #ff9f8b;
    color: #fff;
}

.header__button:hover {
    background: #e03200;
    border-color: #e03200;
    color: #fff;
}

.header__search a {
    color: #ff4814;
}

.header__search a:hover {
    color: #121212;
}

.header__signin a {
    color: #ff4814;
}

.dropdown-menu.custom {

    
    border-radius: -16px;
    right: 0;
    left: auto;
    z-index: 99999;
}


/******************************* nav part start here***************************************/
/***************************** banner part start here**************************************/



/***************************** banner part End here**************************************/



.banner__part1 {
    background-image: url('/static/images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner__part1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.40;
    background: linear-gradient(to right, #02075d 0%, #3ccdbb 0%, #16c9f6 #02075d%);
    z-index: -1;
}

.banner__center-text {
    padding-top: 11%;
}

.banner__center-text p {
    font-size: 55px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    font-family: 'Acta-Display', serif;
    text-align: center;
    font-weight: bold;
}

.banner__button1 {
    padding-top: 1rem;
}

.banner__button1 a {
    color: #fff;
    border: solid 1px #ff4814;
    text-shadow: none;
    box-shadow: none;
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    font-weight: 400;
    background: #ff4814;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    line-height: 1.3;
    padding: 0.9em 2em 0.88em;
    text-align: center;
}

.banner__button a:hover {
    background: #ff4814;
    border-color: #8f2308;
    border-radius: 5px;
    transition: background-position .1s linear;

}

.banner__right-head {
    padding-top: 60%;
}

.banner__right-head h3 {
    font-family: "rooney-web", georgia, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
}

.banner__right-text {
    padding-top: 1rem;
}

.banner__right-text p {
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: normal;
    color: #ffffff;
    font-family: 'Acta-Display', serif;
    text-align: left;
    font-size: 44px;
    font-weight: bold;
}

.banner__right-button {
    padding-top: 1rem;
    padding-bottom: 60.5%;
}

.banner__right-button a {
    border: solid 1px #ff4814;
    text-shadow: none;
    text-decoration: none !important;
    box-shadow: none;
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    padding: 0.9em 6em 0.88em;
    border-color: white;
    background-color: transparent;
}

/********************************banner part2 start here*********************************/
.banner__part2-header h4 {
    font-family: "acta-display", georgia, serif;
    font-weight: 300;
    color: #121212;
    font-size: 40px;
    line-height: 1.2;
    padding-top: 1rem;
}

.banner__part2-text {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #787878;
    padding-top: 2rem;
}

.banner__part2-button {
    padding-top: 1rem;
}

.banner__part2-button a {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    color: #ff4814;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0.9em 2em 0.88em;
    border: solid 1px #ff4814;
    border-radius: 5px;
    text-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3;
    text-align: center;
}

.banner__part2-button a:hover {
    color: #8f2308;
    background-color: #e6e6e6;
}

/********************************banner part2 end here*********************************/
/*******************************campaigns part start here******************************/
.campaigns__head-text {
    padding-top: 1rem;
}

.campaigns__head-text h3 {
    font-family: "acta-display", georgia, serif;
    font-weight: 300;
    color: #121212;
    font-size: 40px;
    line-height: 1.2;
}

.campaigns__sub-text {
    padding-bottom: 2rem;
}

.campaigns__sub-text p {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #787878;
}

.card-title {
    font-family: "rooney-web", georgia, serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
}

.card-text {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    font-weight: 400;
    color: #787878;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
}

.baseball-card__progress-barball-card__meta {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    line-height: 1.2;
    justify-content: space-between;
}

.baseball-card__meta strong {
    color: #121212;
    display: block;
    font-weight: bold;
}

.progress.baseball-card__progress-bar {
    background: #e6e6e6;
    height: 5px;
    position: relative;
}

.progress-bar.baseball-card__progress-bar-fill {
    background: #ff4814;
}

.campaigns__part-row {
    padding-top: 1rem;
}

.campaign__part-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.campaign__part-button a {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    color: #ff4814;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0.9em 2em 0.88em;
    border: solid 1px #ff4814;
    border-radius: 5px;
    text-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3;
    text-align: center;
}

.campaign__part-button a:hover {
    color: #8f2308;
    background-color: #e6e6e6;
}

/************************clint profile start here*******************************/
#team img {
    margin-top: -30%;
}

.clint__part-head h1 {
    font-family: 'Acta-Display', Didot, serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 40px;

}

.clint__sub-text p {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    font-weight: 400;
    color: #121212;
    font-size: 16px;
    line-height: 1.3;
    color: #787878;
}

.clint__part-row {
    padding-top: 2rem;
}

.bubble-card h3 {
    font-family: "rooney-web", georgia, serif;
    font-weight: 300;
    font-size: 20px;
}

.bubble-card p {
    color: #787878;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
}

.clint__part-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.clint__part-button a {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    color: #ff4814;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0.9em 2em 0.88em;
    border: solid 1px #ff4814;
    border-radius: 5px;
    text-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3;
    text-align: center;
}

.clint__part-button a:hover {
    color: #8f2308;
    background-color: #e6e6e6;
}

/************************clint profile end here*******************************/

/*******************************banner part3 start here******************************/

.banner__part3 {
    background-image: url('/static/images/email-subscribe-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.banner__part3:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);


}

.banner__head-text3 {
    padding-top: 4rem;

}

.banner__head-text3 h5 {
    font-family: "rooney-web", georgia, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;

}

.banner__hr-3 {
    border: none;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    background: white;
    width: 9%;
}

.banner__last-row {
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.banner__text-top h4 {
    font-size: 42px;
    font-family: 'Rooney-Web';
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 1.2;
    color: #fff;
}

.banner__text-bottom h4 {
    font-size: 65px;
    font-family: 'Acta-Display';
    font-weight: 100;
    line-height: 1.2;
    color: #fff;
}

form#email-banner-subscribe-form {
    width: 100%;
    text-align: left;
}

form {
    margin: 0 0 20px;
}

form#email-banner-subscribe-form input {
    width: 70%;
    height: 60px;
    margin-bottom: 0;
    margin-right: 10px;
    box-sizing: border-box;
}

.banner__input {
    height: 45px;
    background: transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid white;
    font-size: 20px;
    color: white;
    line-height: 21px;
    font-family: "rooney-web", georgia, serif;
    font-weight: 300;
    padding-left: 4px;
}

.email__btn {
    background: #ff4814;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    padding: 15px 10px;
}

/*******************************banner part3 end here******************************/
/*******************************vartual campaign start here******************************/
.vartual__head-text {
    padding-top: 3rem;
}

.vartual__head-text h4 {
    font-family: "acta-display", georgia, serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.2;
    color: #121212;
}

.vartual__sub-text {
    padding-bottom: 2rem;
}

.vartual__sub-text p {
    font-family: "rooney-web", georgia, serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;

}

.vartual__list ul li {
    font-family: "rooney-web", georgia, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    padding-top: 1.5%;
    color: #000;
}

.vartual__icon {
    color: #ff4814;
    font-size: 18px;
}

.vartula__button {
    padding-top: 2rem;
}

.vartula__button a {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    color: #ff4814;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0.9em 2em 0.88em;
    border: solid 1px #ff4814;
    border-radius: 5px;
    text-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3;
    text-align: center;
}

.content-short {
    font-family: var(--sans-font);
    font-size: 16px;
    color: #787878;
}

button.like-link {
    background: transparent;
    border: 0;
    color: #ff4814;
    font: inherit;
    margin: 0;
    padding: 0;
}

button.like-link2 {
    background: transparent;
    border: 0;
    color: #ff4814;
    font: inherit;
    margin: 0;
    padding: 0;
}

.text__badge {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.3;
    text-align: center;
    background: transparent;
    border: 1px solid #929292;
    margin: .1rem;
    color: #929292;
}

.btn-card-bg {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.vartula__button a:hover {
    color: #8f2308;
    background-color: #e6e6e6;
}

.vartual__text-last {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vartual__text-last p {
    font-family: "rooney-web", georgia, serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    color: #787878;
}

/*******************************vartual campaign end here******************************/

.containers__part {
    border: 5px solid red;
}

.containers__head {
    padding-top: 1rem;
}

.containers__head h3 {
    font-family: "rooney-web", georgia, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #000;
}

.impact-hr {
    border-width: 3px 1px 0;
    border-style: solid;
    border-color: red;
    width: 4%;
    margin-left: auto;
    margin-right: auto;
}

.container__text1 h3 {
    font-size: 72px;

}

.container__text1 p {
    font-family: "rooney-web", georgia, serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #787878;
}

.container__text2 {
    padding-top: 3rem;
}

.container__text2 p {
    font-size: 24px;
    color: #000000;
    font-family: 'Rooney-Web', Georgia, serif;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;

}

.container__text3 p {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.3;
    color: #787878;
}

.last__padding {
    padding-bottom: 5rem;
}


/***************************************language part start here*************************************/
.language__part {
    background-color: #f8f8f8;
    border: 1px solid transparent;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.language__item {
    height: 90px;
}

.language__item img {
    width: auto;
    height: 100%;
}






/*footer start here*/
.footer-section {
    background: #fff;
    font-family: "rooney-web", georgia, serif;
    font-weight: 300;
    color: #121212;
    font-size: 14px;
    line-height: 1.7;
}

.footer-section .row {
    margin: 0;
    padding: 0;
}

.footer-area1 {
    padding-top: 1% !important;
}

.footer-area2 {
    padding-bottom: 10% !important;
}

.brand {
    font-size: 31.5px;
    font-weight: 900;
    line-height: 1.2;
}

.site-footer__nav-heading {
    font-family: "proxima-nova", Gotham, Helvetica, sans-serif !important;
    font-weight: 400;
    margin: 7px 0;
    color: #ff4814 !important;
    font-size: 18px;
}

.footer-text label {
    font-family: "rooney-web", georgia, serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    width: 60%;
}

.footer-area1 p {
    font-weight: 400;
    color: #ff4814;
    font-size: 18px;
}

.footer-area1 li {
    list-style: none;
}

.footer-area2 i {
    color: #ff4814;
    font-size: 26px;
    padding-right: 2%;
}




/********************************Responsive start from here******************************/
@media(max-width: 575.99px) {

    .banner__center-text p {
        font-size: 24px !important;
        line-height: 1.50 !important;

    }

    .content__body-banner {
        max-width: 90.667%;
        min-width: 90%;
    }

    .banner__center-text {
        padding-top: 25%;
    }

    .banner__right-text p {
        line-height: 1.50 !important;
        font-weight: bold !important;
        font-size: 20px !important;
    }

    .banner__right-head {
        padding-top: 90%;
    }

    .banner__right-button {
        padding-top: 1rem;
        padding-bottom: 90%;
    }
}

@media(min-width: 576px) and (max-width: 767.98px) {

    .banner__part1 {
        background-image: url('/static/images/mobile-png.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .banner__center-text p {
        font-size: 24px !important;
        line-height: 1.50 !important;

    }

    .banner__center-text {
        padding-top: 25%;
    }

    .banner__right-text p {
        line-height: 1.50 !important;
        font-weight: bold !important;
        font-size: 20px !important;
    }

    .banner__right-head {
        padding-top: 90%;
    }

    .banner__right-button {
        padding-top: 1rem;
        padding-bottom: 90%;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .banner__center-text p {
        font-size: 40px !important;
        line-height: 1.20 !important;
    }

    .banner__right-text p {
        line-height: 1.30 !important;
        font-weight: bold !important;
        font-size: 20px !important;
    }

    .banner__right-head {
        padding-top: 60%;
    }

    .banner__right-button {
        padding-top: 1rem;
        padding-bottom: 60%;
    }

}

/********************************Responsive end from here******************************/




/*******************************explore part start here*******************************/
.ex__top-padding {
    padding-top: 4rem;
}

.exp__head-text p {
    font-family: 'Acta-Display', Didot, serif;
    margin-bottom: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
    color: #000;
}

/*search start*/
.ex__bottom-padding {
    padding-bottom: 4rem;
}

.card-body {
    padding: .5em;
}

.form__input {
    height: calc(.1em);
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .3rem;
}

.btn__search {
    padding: .5rem 31%;
    font-size: 1rem;
    line-height: 1.7;
    border-radius: .3rem;
    background-color: #ff4814;
    color: #fff;
    font-weight: 500;
    /*width: 100%;*/
}

.scarch__icon {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1.1rem;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/*search start*/

.text__badge {
    font-size: 14px;
    color: #c1c1c1;
    cursor: pointer;
    line-height: 1.3;
    text-align: center;

}

/*content section start here*/

.content-section {
    min-height: 2000px;
}



.sidebar-section {
    position: absolute;
    height: 100%;
    width: 100%;
}

.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 22.5%;
}


/*.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    
}
*/

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    padding: 0 15px;
}






/*Learn part design*/
/***********************/
/***************************bannerpart start here**********************************/
.banner__part-learn {
    background-image: url('/static/images/aq8dz00kpvwnryd9gjbm.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.banner__part-learn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);


}

.banner__head-text1 {}

.banner__head-text1 p {
    font-family: 'Acta-Display', Didot, serif;
    font-size: 60px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.1;
}
/*Learn part design*/
/***********************/
/***************************bannerpart start here**********************************/

.banner__part-learn{
    background-image: url('../images/aq8dz00kpvwnryd9gjbm.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
.banner__part-learn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    z-index: -1;


}
.head__padding{
    padding-top: 8rem;
}
.banner__button-head_learn{
    
        padding-top: 2rem;
        padding-bottom: 8rem;
}
.banner__button-head_learn a{
        padding: 0.9em 4em;
        cursor: pointer;
        background: #ff4814;
        line-height: 1.3;
        color: #fff;
        display: inline-block;
        border-radius: .5rem;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
}

.common__title{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 42px;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.3;
}

.banner__head-text1 p{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 62px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.3;
}

/**************service part start here****************/
.service__part{
    background: #F6F6F6;
}
.service__part-l1{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.service__part-l1 p{
    color: #000;
    font-family: 'Rooney-Web', Georgia, serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    width: 58%;
    margin: auto;
}
.service__part-l1 p span{
    color: #ff4814;
}
/**************service part end here****************/
/*Help page start here*/
.learn__help-p{
    padding-top: 5rem;
}
.learn__title2 p{
    margin-bottom: 0;
    
}
.common__subhedding-all{
    font-family: 'Proxima-Nova', Helvetica, sans-serif;
    font-size: 24px;
}
.common__text-css-all{
    color: #787878;
    font-family: 'Proxima-Nova', Helvetica, sans-serif;
    font-size: 16px;
}

/*slider part start*/
/* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
/*slider part end*/
.slide__top-bottom-padding-carousel{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.slide__image-area{
    width: 70%;
    height: 100%;
    margin: auto;
    
}
.slide__image{
    height: 28rem;
    width: 35rem;
}
.custom__carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 43%;
    z-index: 10;
    padding: 1rem 1rem 4rem 4rem;
    color: #fff;
    text-align: left;
    background: #fff;

}
.custom__carousel-caption p{
    margin-bottom: 0;
    
}
.top__button-slider{
    display: inline-block;
    padding: 15px 25px;
    font-weight: bold;
    background: #FF4814;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: -25px;
}
.heading__slider-text{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
    color: #FF4814;
}

@media(max-width: 575.99px){
.service__part-l1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.common__title {
    line-height: 1;
    font-size: 42px;
}
.btn__last-section-button a {
    padding: 1em 5em !important;
    
}
#slider__learn-section{
    display: none;
}
.custom__css-learn-sm{
    flex: 0 0 50% !important;
    max-width: 99.5% !important;
}

}
@media(min-width: 576px) and (max-width: 767.98px){


}



/*carousel design what is my customization*/
.box--light-shaded {
    background: #F6F6F6;
}
.box--squared {
    border-radius: 0px;
}
.box {
    color: #000;
    overflow: hidden;
    transition: all 400ms;
}
.testimonials--inner-wrapper {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    position: relative;
}
.unstyled-button:not(:disabled) {
    cursor: pointer;
}

/*carousel design what is my customization*/



.slider__promote{
    background: rgb(239, 239, 239);
}
.slide__top-bottom-padding{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.slider__head-text{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.slider__head-text h2{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
}

.text__box{
    position: relative;
}
.text_area__slide-learn{
    background: #fff;
    position: absolute;
    right: 0;
    z-index: 2;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.11) -4px 6px 8px;
    box-sizing: border-box;
    padding: 2em 3em;
    width: 62%;
    bottom: 8%;
    left: 70%;
}







/*Help page end here*/
.explore-card--text{
    border-radius: 7px;
    padding-top: 1.5em;
    padding-left: 2em;
    padding-bottom: 1.5em;
    box-sizing: border-box;
    transition: all 0.25s ease;
}
.explore-card--text:hover{
    background-color: #c1c1c1;
}


/**************************banner part2 start**************************/
.banner__part2-learn{
    background-image: url('../images/jnmqdign2c4ftqh97hpc.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.banner__part2-learn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    z-index: -1;


}
.top__padding-banner2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.banner__part2-learn-left p{
    color: #fff;
    font-family: 'Acta-Display', Didot, serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
}
.banner__list{
    padding: 1.1rem 0;
}
.banner__list ul li{
    position: relative;
    color: #fff;
    font-family: 'Proxima-Nova', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
    
}
.banner__list ul li:after{
    content: '';
    background: url('../svg/bullet.svg');
    background-size: contain;
    position: absolute;
    height: 13px;
    width: 10px;
    left: -22px;
    top: 4px;

}
/*progress bar start here*/

.progress__bar-padding{
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.card__progress {
    border-color: transparent;
    width: 100%;
}
.card-img-section{
    width: 60%;
    margin: auto;
}

/***************************last card section**************************/





.last__card-heading{
    padding-bottom: 1rem;
}
.card__last-section-card{
    padding-bottom: 2rem;
}
.last__card-heading h3{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
}
.last__card-section-background{
    background: #F6F6F6;
}

.heading__card-item-text{
    font-family: 'Proxima-Nova', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    color: #64acc4;
}
.color__card{
    color: #ff4814;
}
.card__content-final{
    line-height: 1.5;
}


/**************************last header part**************************/
.Padding__last-section{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.last__header-heading h3{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;

}
.btn__last-section-button{
    padding-top: 3rem;
}
.btn__last-section-button a{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Proxima-Nova', Helvetica, sans-serif;
    justify-content: center;
    padding: 1em 8em;
    line-height: 1.3;
    text-align: center;
    background-color: #ff4814;
    color:#fff;
    border-radius: .4rem;
}
@media(max-width: 575.99px){
        .banner__part-learn{
    background-image: url('../images/aq8dz00kpvwnryd9gjbm.png');
    background-position: right 25% center;
    background-size: cover;
    position:relative;
    overflow hidden;
}
}
@media(min-width: 576px) and (max-width: 767.98px){
    .banner__part-learn{
    background-image: url('../images/aq8dz00kpvwnryd9gjbm.png');
    background-position: right 25% center;
    background-size: cover;
    position:relative;
    overflow hidden;
}

}
/*==============learn end========================*/
/*************************promote page start here**********************/
.banner__part-promote{
    background-image: url('../images/kuq5azpx4nynamy4mjky.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
.banner__part-promote:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    z-index: -1;


}
.head__padding-promote{
    padding-top: 8rem;
    padding-bottom: 8rem;
}


.banner__head-text-promote p{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 62px;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.3;
}


/*************************promote page start here**********************/






/**************************************************************/
.banner__button-head_promote{
    
        padding-top: 2rem;
        padding-bottom: 8rem;
}
.banner__button-head_promote a{
        padding: 0.8em 1.6em;
        cursor: pointer;
        background: #ff4814;
        line-height: 1.3;
        color: #fff;
        display: inline-block;
        border-radius: .5rem;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
}
.service__part-first-p{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.promote__service-first-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.promote__service-first-header p{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
}
.promote__service-body-first-text{
    padding-bottom: 4rem;
}
.promote__service-body-first-text p{
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
}
.promote__service-body-head-text2{
    padding-top: 7rem;
    padding-bottom: 1rem;
}
.promote__service-body-head-text2{
    color: #343434;
    font-size: 16px;
    line-height: 1.5;
}
.promote__service-body-head-text2 h4{
    font-family: 'Acta-Display';
    font-size: 38px;
    font-weight: bold;
}

/*service 2nd part start*/
.promote__service-2nd-part{
    background: #F6F6F6;
}
.promote__service-part-2nd-p{
    padding-top: 7rem;
    padding-bottom: 7rem;
}


.carousel-control-next-icon {
    background-image: url("/static/images/arrow_next.svg");
    color: #c6c6c6;
    font-size: 40px;
}

.carousel-control-prev-icon {
    background-image: url("/static/images/arrow_back.svg");
    color: #c6c6c6;
    font-size: 40px;

}


.background-image__image{
    background-image: url('/static/images/chovfhagbxchhublwpov.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.background-image__image:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0, 0.3);
    z-index: -1;



}
.background-image__image1{
    background-image: url('/static/images/pkymht79c2ilw8dwe5tk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.background-image__image1:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0, 0.3);
    z-index: -1;



}
.background-image__image2{
    background-image: url('/static/images/zgemflguii4qy9wnhrub.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.background-image__image2:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0, 0.3);
    z-index: -1;



}
.slider__promote{
    background: rgb(239, 239, 239);
}
.slide__top-bottom-padding{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.slider__head-text{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.slider__head-text h2{
    font-family: 'Acta-Display', Didot, serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.1;
}

.text__box{
    position: relative;
}
.text_area{
    background: #fff;
    position: absolute;
    right: 0;
    z-index: 2;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.11) -4px 6px 8px;
    box-sizing: border-box;
    padding: 2em 3em;
    width: 90%;
    bottom: 8%;
    left: 45%;
}


/************************promote page responsive here***************************/
@media(max-width: 575.99px){
    .service__part-first-p{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
    .promote__service-body-head-text2{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
    .promote__service-part-2nd-p{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

    .promote__service-body-first-text{
    padding-bottom: 2rem;
}
}
@media(min-width: 576px) and (max-width: 767.98px){
.service__part-first-p{
    padding-top: 4rem;
    padding-bottom: 1rem;
}
    .promote__service-body-head-text2{
    padding-top: 4rem;
    padding-bottom: 1rem;
}
    .promote__service-part-2nd-p{
    padding-top: 4rem;
    padding-bottom: 1rem;
}

    .promote__service-body-first-text{
    padding-bottom: 2rem;
}
    
}
@media(min-width: 768px) and (max-width: 1024px){
    

}
/*************************promote page responsive here**************************/


/*=====my contribution start=====*/
.box--shaded {
    background: rgba(127, 127, 127, 0.1);
}
.box--error {
    border: 1px solid red;
}
.box {
    border-radius: 5px;
    overflow: hidden;
    transition: all 400ms;

}
.box p{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
margin-bottom: 0;
padding: .8rem 0;
}
/*=====my contribution end=======*/
/*=======profile===========*/
.border-top {
    border-top: 1px solid #DBDBDB;
}
.border-bottom {
    border-bottom: 1px solid #DBDBDB;
    border-radius: 0;
}

.mon__pd{
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.content__box-finalt1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0
}
.content__box-finalt2{
    font-family: var(--sans-font);
    font-size: 16px;
    color: #787878;
}
/*support part start here*/
.banner__part-support{
    background-image: url('/static/images/KB_hero.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    height: 53vh;
}
.banner__part-support:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255,72,20, 0.8);
    z-index: -1;


}


.final__header-support{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
    color: #fff;
    font: 32px/1 "Lato";
    margin: 0;
    padding: 0;
}
.main__navbar-custom{
    padding:2rem 0rem;
}
.navbar-brand__custom{
    padding:0;
}
.head__padding{
    padding-top: 8rem;
}
.banner__button-head_learn{
    
        padding-top: 2rem;
        padding-bottom: 8rem;
}
.banner__button-head_learn a{
        padding: 0.9em 4em;
        cursor: pointer;
        background: #ff4814;
        line-height: 1.3;
        color: #fff;
        display: inline-block;
        border-radius: .5rem;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
}
.card__support{
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 2px;
    height: calc(100% - 2px);
}

.card__inner-support{
    box-shadow: 0 1px 4px 0 #dfe5ee;
    background-color: #fff;
    margin: 0 0 16px 0;
    padding: 24px 32px;
    border-radius: 4px;
}

.glyphicon-search{
    font-size:20px;
}
.btn-default{
    width:100px;
    padding:12.5px;

}

.footer__support{

}

@media (min-width: 576px)
.footer-body {
    width: auto;
    max-width: 540px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}


.footer-body {
    padding: 8px 8px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0;
    text-align: center;
}

.footer__support{
    border-top: 1px solid #dfe5ee;
}
.hands {
  width: 45px;
  height: 42px;
  background-size: 100% auto !important;
  background-position: center !important;
  margin: 20px;
  display: inline-block;
  filter: grayscale(100%) brightness(0.8);
  transition: filter 0.8s ease-out;
  cursor: pointer;
}
.hands:hover {
  filter: grayscale(0) brightness(1);
}
.like {
   background: url(https://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png) no-repeat;
  animation: like 2.4s infinite forwards;
  transform-origin: bottom left;
}
.dislike {
  background: url(http://pngimg.com/uploads/dislike/dislike_PNG2.png) no-repeat;
  animation: dislike 2.4s infinite forwards 1.2s;
  transform-origin: top right;
}
@keyframes like {
  0 { transform: rotate(0) scale(1)}
  50% { transform: rotate(-4deg) scale(1.12)}
  100% { transform: rotate(0) scale(1)}
}
@keyframes dislike {
  0 { transform: rotate(0) scale(1)}
  50% { transform: rotate(-4deg) scale(1.12)}
  100% { transform: rotate(0) scale(1)}
}