{%extends "header_footer.html"%}
{%load static%}
{%block title%}
{%endblock title%}
{%block container%}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="row" style="margin-top: 2rem;padding-bottom: 4rem;background: #F6F6F6;padding-top: 4rem;">
                        <div class="col text-center">
                            <h2 class="title2">
                                Crowdpac is the fastest way for new leaders to raise their first political dollars.
                            </h2>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem">
                        <div class="col mini-recipient">
                            <p>
                                Our mission is to help more people participate in the political process through running for office and funding candidates and causes they believe in.
                            </p>
                            <p>
                                Crowdpac is the only platform where candidates can test the waters of a run for office without a bank account or formal campaign, and we’re proud that so many emerging leaders have used our tools to start their campaigns.
                            </p>
                            <p>
                                Our Start Running pages enable anyone to collect credit card backed pledges of support that turn into donations if the conditions of the campaign are met.
                            </p>
                            <p>
                                <a href="https://medium.com/@Crowdpac/a-stand-against-trumpism-a-stand-for-democracy-a45e95a77ed5" class="rclst">
                                    Our platform is open to candidates, causes, and grassroots groups that align with the values of our community.
                                </a>
                            </p>
                            <p>
                                <a href="https://medium.com/@Crowdpac/a-stand-against-trumpism-a-stand-for-democracy-a45e95a77ed5" class="rclst">
                                    Crowdpac operates as a Committee Team Leadership (CTL) to maximize communication, worker protections, and transparency in all matters.
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3rem">
                        <div class="col text-center">
                            <h3 class="title3">
                                Contact Us
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                Please send us an email at <a class="rclst" href="mailto:info@crowdpac.com">
                                    info@crowdpac.com.
                                </a> Please direct all media inquiries to <a class="rclst" href="mailto:press@crowdpac.com"></a>
                                press@crowdpac.com
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 3rem">
                        <div class="col text-center">
                            <h3 class="title3">
                                Jobs
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                We are actively seeking new talent to join our team. Please check out our <a class="rclst" href="{% url 'jobs' %}">
                                    info@crowdpac.com.
                                </a> or email us at <a class="rclst" href="mailto:jobs@crowdpac.com"></a>
                                jobs@crowdpac.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock container%}