{%load static%}
<div class="row">
    <div class="col text-center">
        <span class="mini-recipient">
            The Campaign
        </span>
    </div>
</div>
<div class="row" style="margin-top: .8rem">
    <div class="col text-center">
        <span class="title2">
            Campaign Marketing
        </span>
    </div>
</div>
<div class="row" style="margin-top: 2rem">
    <div class="col text-center">
        <span class="step-number marketing">1</span>
        <span style="font-weight: normal;text-align: center;font-size: 20px">
            Securely link your contacts from your email provider.
        </span>
    </div>
</div>
<div class="row" style="margin-top: 1.5rem">
    <div class="col text-center">
        <img src="{%static 'svg/emailProviders.svg'%}">
    </div>
</div>
<div class="row" style="margin-top: 2rem">
    <div class="col text-center">
        <span class="step-number marketing">2</span>
        <span style="font-weight: normal;text-align: center;font-size: 20px">
            Send out email and text messages to the contacts of your choice.
        </span>
    </div>
</div>
<div class="row" style="margin-top: 1.5rem">
    <div class="col text-center">
        <img src="{%static 'svg/emailIcon.svg'%}">
        <img src="{%static 'svg/SMSIcon.svg'%}">
    </div>
</div>
<div class="row" style="margin-top: 6rem">
    <div class="col text-center">
        <button type="button" class="btnr red campaigns">
            Get Started
        </button>
    </div>
</div>
<div class="row" style="margin-top: 1rem">
    <div class="col text-center">
        <a href="#" class="rclst">
            Continue to Optional Settings
        </a>
    </div>
</div>