{%load static%}
<div id="selcet_Candidate_yes_no">
    <div class="row">
        <div class="col text-center">
            <span class="mini-recipient">
                The Basics
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: .8rem">
        <div class="col text-center">
            <span class="title2">
                Have you already declared your candidacy?
            </span>
        </div>
    </div>
    <div class="row" id="card_section_recipients_myself_yes_no">
        <div class="col-sm-6 text-center" style="margin-top: 3rem">
            <div class="card" id="candidate_self_yes" style="width: 100%;cursor: pointer;height: 100%">
                <div class="card-body">
                    <h3 style="color: #FF4814">Yes
                    </h3>
                    <p class="mini-recipient text-center">I have officially filed my declaration for candidacy and can accept donations</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center" style="margin-top: 3rem">
            <div class="card" id="candidate_another_myself_no" style="width: 100%;cursor: pointer;height: 100%">
                <div class="card-body">
                    <h3 style="color: #FF4814">No
                    </h3>
                    <p class="mini-recipient text-center">I have not filed, but am exploring a run and want to accept pledges.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem">
        <div class="col text-center">
            <button type="button" id="recipients_save_button_myself_yes_no_click" data-yes="" class="btnr red campaigns disable">
                Save and continue
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 2rem">
        <div class="col text-center">
            <a class="rclst" href="#">Continue without saving</a>
        </div>
    </div>
</div>
<!--Formsssssssssssss-->
<div id="selcet_Candidate_yes_no_form" style="display: none">
    <div class="row">
        <div class="col text-center">
            <span class="mini-recipient">
                The Basics
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: .8rem">
        <div class="col text-center">
            <span class="title2">
                Great! Now let's learn a little more about you.
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 2rem;background: #F6F6F6;padding-top: 2rem;padding-bottom: 2rem">
        <div class="col">
            <div id="candidate_status_label" class="float-left">
                I am an <strong>undeclared</strong> candidate.
            </div>
            <div class="float-right">
                <a class="rclst" id="candidate_status_change_button" href="#" onclick="back_yes_no()">Change</a>
            </div>
        </div>
    </div>
    <div class="row" id="row_show_othercandidate_status" style="background: #F2F2F2;margin-top: 1rem;display: none">
        <div class="col" style="padding-top: 1rem;padding-bottom: 1rem">
            <span> This is a declared candidate.
                If your campaign has multiple candidates, they must all be declared candidates. Declared candidates have announced and filed for their races, and can accept donations. </span>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem">
        <div class="col">
            <div class="row">
                <div class="col">
                    <label style="float: left;" class="mini-recipient__title">First Name</label>
                    <label class="mini-recipient" style="float: right;">
                        Required</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" name="candidate_first_name" id="candidate_first_name" style="width: 100%" placeholder="First Name">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label style="float: left;" class="mini-recipient__title">Last Name</label>
                        <label class="mini-recipient" style="float: right;">
                            Required</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" name="candidate_last_name" id="candidate_last_name" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem">
        <div class="col">
            <div class="row">
                <div class="col">
                    <label style="float: left;" class="mini-recipient__title">Email</label>
                    <label class="mini-recipient" style="float: right;">
                        Required</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="Email" name="candidate_email" id="candidate_email" style="width: 100%">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="mini-recipient">
                        This is who the compliance information will be sent to.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem">
        <div class="col">
            <div class="row">
                <div class="col">
                    <label style="float: left;" class="mini-recipient__title">Political Affiliation</label>
                    <label class="mini-recipient" style="float: right;">
                        Required</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <select class="form-control" id="Candidate_Political_Affiliation">
                        <option value="100">Democrat</option>
                        <option value="328">Independent</option>
                        <option value="400">Green</option>
                        <option value="500">Libertarian</option>
                        <option value="404">Unaffiliated</option>
                        <option value="999">Write-In</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="rclst" href="#">Where's the Republican Party?</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label style="float: left;" class="mini-recipient__title">Gender</label>
                        <label class="mini-recipient" style="float: right;">
                            Required</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <select class="form-control" id="Candidate_Gender">
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">Unspecified</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem">
        <div class="col">
            <div class="row">
                <div class="col">
                    <label style="float: left;" class="mini-recipient__title">Are you a first-time candidate?</label>
                    <label class="mini-recipient" style="float: right;">
                        Required</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="mini-recipient">
                        This helps our political team tailor outreach and support for your campaign.
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top: 1rem">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="first_time_candidate" id="Radios_first_time" value="first-time" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Yes, this is my first time running for office
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="first_time_candidate" id="Radios_not_first_time" value="not_first-time">
                        <label class="form-check-label" for="exampleRadios2">
                            No, this is not my first time running for office
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem">
        <div class="col">
            <div class="row">
                <div class="col">
                    <label style="float: left;" class="mini-recipient__title">
                        Upload Headshot</label>
                    <label class="mini-recipient" style="float: right;">
                        Required</label>
                </div>
            </div>
            <div class="row">
                <div class="col mini-recipient">
                    Select an image from your computer, drag to position it, and use the slider to adjust the zoom. We recommend using a JPEG or PNG that's at least 400 pixels wide by 400 pixels tall.
                </div>
            </div>
            <div class="row" style="margin-top: .8rem">
                <div class="col" style="background: #F6F6F6;border-radius: 5px;">
                    <div class="d-flex justify-content-center" style="border:1px solid #F6F6F6;padding: 3rem 3rem;align-content: center">
                        <div style="width: 400px;height: 400px;border:1px solid #cccccc;text-align: center;align-content: center;border-radius: 5px;">
                            <img id="candidate_head_shot" src="#" style="width: 100%;height: 100%;color: transparent;" alt=".">
                            <button type="button" class="btnr" id="upfile3" style="margin-top: 15vw">
                                Select an Image
                            </button>
                            <input type="file" accept="image/jpeg,image/png" id="file3" name="file3" style="display:none" />
                            <button type="button" class="btnr" id="removefile3" style="display:none;float:right;margin-top: .8rem">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 3rem">
        <div class="col text-center">
            <button type="button" id="recipients_save_button_yes_no_form_click" class="btnr red campaigns disable" data-candidate-id="">
                Save and continue
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 2rem">
        <div class="col text-center">
            <a class="rclst" href="#" onclick="(tab_pages('Race_Info'))">Continue without saving</a>
        </div>
    </div>
</div>
<script type="text/javascript">
/**
 *If candidate self the "I have officially filed my declaration for candidacy and can accept donations Yes No" will be show.Other wise shows the form only 
 */
var data_candidate;

function setCandidateValue(values) {
    /*
        forms data for the other candidate. this function is called by
        campaign_recipient.html 
        This function occurs when first add the others candidate and  clicked saved 
        
    */
    data_candidate = values;
    if (values.candidancy == "candidate_another") {

        $("#selcet_Candidate_yes_no").hide();
        $("#candidate_status_change_button").hide();
        $("#candidate_status_label").text("Recipient id is " + values.pro_id[0]);
        $("#recipients_save_button_yes_no_form_click").attr("data-candidate-id", values.pro_id[0]);
        $("#selcet_Candidate_yes_no_form").show();
        $("#recipients_save_button_yes_no_form_click").attr("data-candidate-id", values.pro_id[0]);
        $("#row_show_othercandidate_status").show();
    }

}
$('#selcet_Candidate_yes_no_form').bind('change keyup', function() {

    $("#recipients_save_button_yes_no_form_click").removeClass("disable");
});

function showsfromclick(value_id) {
    /*
        forms data for the other candidate. this function is called by
        campaign_recipient.html 
        This function occurs when candidate_info clicked from the 
        profile.
    */
    $("#selcet_Candidate_yes_no").hide();
    $("#candidate_status_change_button").hide();
    $("#candidate_status_label").text("Recipient id is " + value_id);
    $("#recipients_save_button_yes_no_form_click").attr("data-candidate-id", value_id);
    $("#row_show_othercandidate_status").show();
    $("#selcet_Candidate_yes_no_form").show();
}

var cards = document.getElementsByClassName("card");
var btns = document.getElementById("recipients_save_button_select_candidate");
for (var i = 0; i < cards.length; i++) {
    cards[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("card_active");
        // If there's no active class
        if (current.length > 0) {
            current[0].className = current[0].className.replace(" card_active", "");
        }
        // Add the active class to the current/clicked button
        this.className += " card_active";

        if (this.id == "candidate_self_yes" || this.id == "candidate_another_myself_no") {
            if (this.id === "candidate_self_yes") {
                $("#recipients_save_button_myself_yes_no_click").attr("data-yes", "yes");
            } else {
                $("#recipients_save_button_myself_yes_no_click").attr("data-yes", "no");
            }
            $("#recipients_save_button_myself_yes_no_click").removeClass("disable");


        }

        recipientsButton = false;
    });
}


$("#recipients_save_button_myself_yes_no_click").on("click", function() {
    var selfcandidateselect = $("#recipients_save_button_myself_yes_no_click").attr("data-yes");
    if (selfcandidateselect === "yes" || selfcandidateselect === "no") {
        $.ajax({
            type: "GET",
            url: "{% url 'start_campaign' %}",
            data: {
                'yes_no': selfcandidateselect,

            },
            success: function(response) {
                if (response.context.candidate_self_or_not == "yes") {
                    $("#candidate_status_label").html('I am a <strong>declared</strong> candidate.');
                } else {
                    $("#candidate_status_label").html('I am an <strong>undeclared</strong> candidate.');
                }
                $("#selcet_Candidate_yes_no").hide();
                $("#recipients_save_button_yes_no_form_click").attr("data-candidate-id", "self");
                $("#selcet_Candidate_yes_no_form").show();
            }
        });
    }

});
var complete_candidate_info = false;//check required field fill or not
$("#recipients_save_button_yes_no_form_click").on("click", function() {

    recipientsButton=true;
    var attr = $("#recipients_save_button_yes_no_form_click").attr("data-candidate-id");
    var candidancy_declaration = "";
    var candidate_first_name = "";
    var candidate_last_name = "";
    var candidate_email = "";
    var Candidate_Political_Affiliation = "";
    var Candidate_Gender = "";
    var first_time_candidate = "";
    var upload_headshot = "";
    if (attr == "self") {

        var candidancy_declaration = $("#candidate_status_label").text();
        var candidate_first_name = $("#candidate_first_name").val();
        var candidate_last_name = $("#candidate_last_name").val();
        var candidate_email = $("#candidate_email").val();
        var Candidate_Political_Affiliation = $("#Candidate_Political_Affiliation").val();
        var Candidate_Gender = $("#Candidate_Gender").val();
        var first_time_candidate = $('input[name="first_time_candidate"]:checked').val();
        var upload_headshot = $("candidate_head_shot").attr("scr");
    } else {
        var candidancy_declaration = $("#candidate_status_label").text();
        var candidate_first_name = $("#candidate_first_name").val();
        var candidate_last_name = $("#candidate_last_name").val();
        var candidate_email = $("#candidate_email").val();
        var Candidate_Political_Affiliation = $("#Candidate_Political_Affiliation").val();
        var Candidate_Gender = $("#Candidate_Gender").val();
        var first_time_candidate = $('input[name="first_time_candidate"]:checked').val();
        var upload_headshot = $("candidate_head_shot").attr("scr");
    }
    var datas = {
        "candidancy_declaration": candidancy_declaration,
        "candidate_first_name": candidate_first_name,
        "candidate_last_name": candidate_last_name,
        "candidate_email": candidate_email,
        "Candidate_Political_Affiliation": Candidate_Political_Affiliation,
        "Candidate_Gender": Candidate_Gender,
        "first_time_candidate": first_time_candidate,
        "upload_headshot": upload_headshot,
    }
    for(var i in datas)
    {

        if(datas[i]==="")
        {         
            complete_candidate_info=false;

            break;
        }
        else
        {
            complete_candidate_info=true;
        }
    }
    //alert(complete_candidate_info)
    /*var data1;
    data1['candidate_info']=JSON.stringify(datas),*/
    //console.log(JSON.stringify(datas));
    $.ajax({
        type: "GET",
        url: "{% url 'start_campaign' %}",
        //dataType: 'json',
        data: {
            'values': JSON.stringify(datas),
        },
        success:function(){
            (tab_pages('Race_Info'))
        }

    });

});






function back_yes_no() {
    document.getElementById("selcet_Candidate_yes_no_form").style.display = "none";
    document.getElementById("selcet_Candidate_yes_no").style.display = "block";
}


$("#upfile3").click(function() {
    $("#file3").trigger('click');
});
/*
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#candidate_head_shot').attr('src', e.target.result);
            if (e.target.result != null) {
                $('#upfile3').hide();
                $('#removefile3').show();
            }
        }
        reader.readAsDataURL(input.files[0]);
    }
}*/
$("#file3").change(function() {
    readURL(this);
});
$("#removefile3").click(function() {
    $('#candidate_head_shot').attr('src', "");
    $('#upfile3').show();
    $('#removefile3').hide();
});
</script>