{%load static%}
<div class="row">
	<div class="col text-center">
		<span class="mini-recipient">
			Need Help?
		</span>
	</div>
</div>
<div class="row" style="margin-top: .8rem">
	<div class="col text-center">
		<span class="title2">
			Contact Support
		</span>
	</div>
</div>
<div class="row" style="margin-top: .8rem">
	<div class="col text-center">
		<h5 style="font-weight: normal">
		We're here to help with your campaign questions
		</h5>
	</div>
</div>
<div class="row" style="margin-top: 3rem">
	<div class="col">
		<div class="row">
			<div class="col">
				<label style="float: left;">Your Email Address</label>
				<label class="mini-recipient" style="float: right;">
				Required</label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input type="email" name="mail" id="support_email_id" style="width: 100%" placeholder="email@campaign.com">
			</div>
		</div>
		
	</div>
</div>
<div class="row" style="margin-top: 3rem">
	<div class="col">
		<div class="row">
			<div class="col">
				<label style="float: left;">Subject</label>
				<label class="mini-recipient" style="float: right;">
				Required</label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input type="text" name="subject" id="support_subject_id" style="width: 100%" placeholder="I'm not sure which race to run for">
			</div>
		</div>
		
	</div>
</div>
<div class="row" style="margin-top: 3rem">
	<div class="col">
		<div class="row">
			<div class="col">
				<label style="float: left;">Email Message</label>
				<label class="mini-recipient" style="float: right;">
				Required</label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<textarea name="editor2" id="support_Email_Message_id" placeholder="How can we help with your campaign?"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span style="font-size: 12px">Your email will include a link to your campaign so that our support staff can address your specific needs.</span>
			</div>
		</div>
		
	</div>
</div>
<div class="row" style="margin-top: 6rem">
	<div class="col text-center">
		<button type="button" class="btnr red campaigns">
		Send
		</button>
	</div>
</div>
<script type="text/javascript">
	CKEDITOR.replace('editor2');
</script>