{% extends 'header_footer.html' %} {% load static %} {% block title %} {% endblock title %} {% block container %}
<div class="container-fluid">
    <div class="row" style="margin-top:2.5rem;padding-bottom:2.5rem">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qVr62WuDoL8" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>Crowdpac T.V. </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>
								Our central T.V. station where all virtual campaign rallies are played.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 responsive-margin">
                    <div class="row">
                        <div class="col">
                            <h3 class="text-center">Ready to go live ? </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn red" style="background:white;color:#FF5626">
								Create A Virtual Rally
							</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}