{% load static %}
<div class="row">
    <div class="col-sm-10 offset-sm-1">
        <h2 class="title2 text-center">Explore Campaigns</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <i class="fas scarch__icon fa-search h4 text-body" style="position: absolute;top:10px;margin-left:5px"></i>
        <input class="form-control" id="explore_top_search" type="search" style="padding-left: 30px" onkeyup="mark(this.value)">
        <a class="rclst" style="position: absolute;top:5px;right: 20px" onclick="searchClear()" href="#/">clear</a>
    </div>
</div>
<div class="row" style="margin-top: 1rem" id="showProperty">
    <div class="col">
        <a href="#/" class="rclst"><i class="fas fa-filter"> Short and Filter</i></a>
    </div>
</div>
<div id="upperSelect" style="display: none;overflow: auto">
    {% include 'explore_up.html' %}
</div>
<div id="exploreId">
    {% for var1 in campaign %}
    <div class="row" style="margin-top: 2rem">
        <div class="col">
            <a href="{% url 'view_campaign' %}" class="rcls" style="color:initial">
                <div class="card class_not_hover_cursor_hand" data-gender="{{var1.gender}}" data-recipient="{{var1.recipient}}" data-polical_affiliation="{{var1.political_affiliation}}"  style="padding: 1rem;">
                    <h5 class="card-title">{{var1.campaign_title}}</h5>
                    {% with var1.campaign_cover_image as image %}
                    <img src="{% static image%}" alt="Card image cap" class="card-img-top">
                    {% endwith %}
                    <div class="card-body" style="padding: 0px;margin-top: 1rem">
                        <h6>{{var1.campaign_content_writer}}</h6>
                        <span class="card-text text-justify year" data-election_year="{{var1.campaign_content_year}}">
                            {{var1.campaign_content_year}} </span>
                        <span class="card-text text-justify address">{{var1.campaign_content_writer_address}} </span>
                        <span class="card-text text-justify state">{{var1.campaign_content_writer_state}}</span>
                        <hr>
                        <p class="card-text text-justify">{{var1.campaign_story}}</p>
                        <div class="btn-card-bg">
                            {% for badges in var1.campaign_content_tags %}
                            <a class="clsm" href="#">
                                <span class="badge text__badge">{{badges}}</span>
                            </a>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="float:left">
                                    <div class="col">
                                        <strong>${{var1.campaign_raised_amount}}</strong>
                                        Raised
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row" style="float:right">
                                    <div class="col">
                                        <strong>{{var1.campaign_supporter}}</strong>
                                        Supporters
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if var1.Fundraising_Goal != "" %}
                        <div class="row">
                            <div class="col">
                                <div class="progress baseball-card__progress-bar">
                                    <div class="progress-bar baseball-card__progress-bar-fill" role="progressbar" style="width: {{var1.campaign_raised_amount_percentanges}}%" aria-valuenow="{{var1.campaign_raised_amount_percentanges}}" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row" style="margin-top: 3rem">
    <div class="col text-center">
        {% include 'pagination.html' %}
    </div>
</div>
<script type="text/javascript">
$("#showProperty").on('click', function() {
    $("#upperSelect").toggle(500);
})

function searchClear() {
    $("#explore_top_search").val("");
    let b = new RegExp("mark>", "ig")
    main.innerHTML = main.innerHTML.replace(b, "wbr>")
}
</script>