{%load static%}
<div class="row" style="padding-top: 40px;">
    <div class="col">
        <div style=" overflow-y: scroll;max-height:100vh ">
            <div>
                <h3 class="content-short">Sort by</h3>
            </div>
            <div>
                <form>
                    <input type="radio" name="sortby_upper" value="popular" checked id="sort1_upper">
                    <label for="sort1_upper">Popular this week </label><br>
                    <input type="radio" name="sortby_upper" value="Closest" id="sort2_upper">
                    <label for="sort2_upper">Closest to goal </label><br>
                    <input type="radio" name="sortby_upper" value="raised" id="sort3_upper">
                    <label for="sort3_upper">Most funds raised</label><br>
                    <input type="radio" name="sortby_upper" value="updated" id="sort4_upper">
                    <label for="sort4_upper">Recently updated </label>
                </form>
            </div>
            <hr>
            <div>
                <h3 class="content-short">Filter by</h3>
                <h6>
                    <strong>Tags</strong>
                </h6>
            </div>
            <div class="upperItems">
            <div class="item">
                    <input type="checkbox" id="check_tag1_upper" name="tag_upper" value="Campaign Finance Reform">
                    <label for="check_tag1_upper">Campaign Finance Reform </label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag2_upper" name="tag_upper" value="Civil Rights">
                    <label for="check_tag2_upper">Civil Rights </label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag3_upper" name="tag_upper" value="Climate Change">
                    <label for="check_tag3_upper">Climate Change</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag4_upper" name="tag_upper" value="Criminal Justice Reform">
                    <label for="check_tag4_upper">Criminal Justice Reform</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag5_upper" name="tag_upper" value="Environment">
                    <label for="check_tag5_upper">Environment</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag6_upper" name="tag_upper" value="Gender Equality">
                    <label for="check_tag6_upper">Gender Equality</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag7_upper" name="tag_upper" value="Gun Safety">
                    <label for="check_tag7_upper">Gun Safety</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag8_upper" name="tag_upper" value="Health Care">
                    <label for="check_tag8_upper">Health Care</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag9_upper" name="tag_upper" value="Immigration Reform">
                    <label for="check_tag9_upper">Immigration Reform</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag10_upper" name="tag_upper" value="Income Inequality">
                    <label for="check_tag10_upper">Income Inequality</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag11_upper" name="tag_upper" value="International Diplomacy">
                    <label for="check_tag11_upper">International Diplomacy</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag12_upper" name="tag_upper" value="Internet Policy">
                    <label for="check_tag12_upper">Internet Policy</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag13_upper" name="tag_upper" value="LGBTQ Rights">
                    <label for="check_tag13_upper">LGBTQ Rights</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag14_upper" name="tag_upper" value="Marijuana Legalization">
                    <label for="check_tag14_upper">Marijuana Legalization</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag15_upper" name="tag_upper" value="Pro Choice">
                    <label for="check_tag15_upper">Pro Choice</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag16_upper" name="tag_upper" value="Public Education">
                    <label for="check_tag16_upper">Public Education</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag17_upper" name="tag_upper" value="Transport Infrastructure">
                    <label for="check_tag17_upper">Transport Infrastructure</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag18_upper" name="tag_upper" value="Union Rights">
                    <label for="check_tag18_upper">Union Rights</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag19_upper" name="tag_upper" value="womeninpolitics">
                    <label for="check_tag19_upper">womeninpolitics</label>
                </div>
                
            </div>
            <div style="margin-top: 1rem">
                <h6>
                    <strong>State</strong>
                </h6>
            </div>
            <div class="upperItems2">
            <div class="item">
                    <input type="checkbox" name="states_upper" value="AL" id="stateAL_upper">
                    <label for="stateAL_upper">Alabama </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="AK" id="stateAK_upper">
                    <label for="stateAK_upper">Alaska </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="AZ" id="stateAZ_upper">
                    <label for="stateAZ_upper">Arizona </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="AR" id="stateAR_upper">
                    <label for="stateAR_upper">Arkansas</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="CA" id="stateCA_upper">
                    <label for="stateCA_upper">California</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="CO" id="stateCO_upper">
                    <label for="stateCO_upper">Colorado</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="CT" id="stateCT_upper">
                    <label for="stateCT_upper">Connecticut</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="DE" id="stateDE_upper">
                    <label for="stateDE_upper">Delaware</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="DC" id="stateDC_upper">
                    <label for="stateDC_upper">District Of Columbia</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="FL" id="stateFL_upper">
                    <label for="stateFL_upper">Florida</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="GA" id="stateGA_upper">
                    <label for="stateGA_upper">Georgia</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="HI" id="stateHI_upper">
                    <label for="stateHI_upper">Hawaii</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="ID" id="stateID_upper">
                    <label for="stateID_upper">Idaho</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="IL" id="stateIL_upper">
                    <label for="stateI_upperL">Illinois</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="IN" id="stateIN_upper">
                    <label for="stateIN_upper">Indiana</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="IA" id="stateIA_upper">
                    <label for="stateIA_upper">Iowa</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="KS" id="stareKS_upper">
                    <label for="stareKS_upper">Kansas</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="KY" id="stateKY_upper">
                    <label for="stateKY_upper">Kentucky</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="LA" id="stateLA_upper">
                    <label for="stateLA_upper">Louisiana</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="ME" id="stateME_upper">
                    <label for="stateME_upper">Maine</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="MD" id="stateMD_upper">
                    <label for="stateMD_upper">Maryland</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="MA" id="stateMA_upper">
                    <label for="stateMA_upper">Massachusetts</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="MI" id="stateMI_upper">
                    <label for="stateMI_upper">Michigan</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="MN" id="stateMN_upper">
                    <label for="stateMN_upper">Minnesota</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="MS" id="stateMS_upper">
                    <label for="stateMS_upper">Mississippi</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="MO" id="stateMO_upper">
                    <label for="stateMO_upper">Missouri</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="MT" id="stateMT_upper">
                    <label for="stateMT_upper">Montana</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="NE" id="stateNE_upper">
                    <label for="stateNE_upper">Nebraska</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="NV" id="stateNV_upper">
                    <label for="stateNV_upper">Nevada</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="NH" id="stateNH_upper">
                    <label for="stateNH_upper">New Hampshire</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="NJ" id="stateNJ_upper">
                    <label for="stateNJ_upper">New Jersey</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="NM" id="stateNM_upper">
                    <label for="stateNM_upper">New Mexico</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="NY" id="stateNY_upper">
                    <label for="stateNY_upper">New York</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="NC" id="stateNC_upper">
                    <label for="stateNC_upper">North Carolina</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="ND" id="stateND_upper">
                    <label for="stateND_upper">North Dakota</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="OH" id="stateOH_upper">
                    <label for="stateOH_upper">Ohio</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="OK" id="stateOK_upper">
                    <label for="stateOK_upper">Oklahoma</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="OR" id="stateOR_upper">
                    <label for="stateOR_upper">Oregon</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="PA" id="statePA_upper">
                    <label for="statePA_upper">Pennsylvania</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="RI" id="stateRI_upper">
                    <label for="stateRI_upper">Rhode Island</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="SC" id="stateSC_upper">
                    <label for="stateSC_upper">South Carolina</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="SD" id="stateSD_upper">
                    <label for="stateSD_upper">South Dakota</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="TN" id="stateTN_upper">
                    <label for="stateTN_upper">Tennessee</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="TX" id="stateTX_upper">
                    <label for="stateTX_upper">Texas</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="UT" id="stateUT_upper">
                    <label for="stateUT_upper">Utah</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="VT" id="stateVT_upper">
                    <label for="stateVT_upper">Vermont</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="VA" id="stateVA_upper">
                    <label for="stateVA_upper">Virginia</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="WA" id="stateWA_upper">
                    <label for="stateWA_upper">Washington</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="WV" id="stateWV_upper">
                    <label for="stateWV_upper">West Virginia</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="WI" id="stateWI_upper">
                    <label for="stateWI_upper">Wisconsin</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="WY" id="stateWY_upper">
                    <label for="stateWY_upper">Wyoming</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states_upper" value="VI" id="stateVI_upper">
                    <label for="stateVI_upper">U.S. Virgin Islands</label>
                </div>
           
            
            </div>
            <div style="margin-top: 1rem">
                <h6><strong>Recipient Type</strong></h6>
            </div>
            <div>
                <input type="checkbox" name="RecipientType_upper" value="Candidate" id="Candidate_upper">
                <label for="Candidate_upper">Candidate </label><br>
                <input type="checkbox" name="RecipientType_upper" value="Organization" id="Organization_upper">
                <label for="Organization_upper">Organization </label><br>
            </div>
            <div>
                <h6><strong>Election Year </strong></h6>
            </div>
            <div>
                <input type="checkbox" name="Election_Year_upper" value="2020" id="2020_upper">
                <label for="2020_upper">2020</label><br>
                <input type="checkbox" name="Election_Year_upper" value="2021" id="2021_upper">
                <label for="2021_upper">2021</label><br>
                <input type="checkbox" name="Election_Year_upper" value="2022" id="2022_upper">
                <label for="2022_upper">2022</label><br>
            </div>
            <div>
                <h6><strong>Candidate Gender_upper </strong></h6>
            </div>
            <div>
                <input type="checkbox" name="Gender_upper" value="Male" id="Male_upper">
                <label for="Male_upper">Male</label><br>
                <input type="checkbox" name="Gender_upper" value="Female" id="Female_upper">
                <label for="Female_upper">Female</label><br>
                <input type="checkbox" name="Gender_upper" value="Unspecified" id="Unspecified_upper">
                <label for="Unspecified_upper">Unspecified </label><br>
            </div>
            <div>
                <h6>
                    <strong>Political Affiliation </strong>
                </h6>
            </div>
            <div class="upperItems3">
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Democrat" id="Democrat_upper">
                    <label for="Democrat_upper">Democrat </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Independent" id="Independent_upper">
                    <label for="Independent_upper">Independent </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Green" id="Green_upper">
                    <label for="Green_upper">Green </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Libertarian" id="Libertarian_upper">
                    <label for="Libertarian_upper">
                        Libertarian </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Unaffiliated" id="Unaffiliated_upper">
                    <label for="Unaffiliated_upper">Unaffiliated</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Write-In" id="Write-In_upper">
                    <label for="Write-In_upper">Write-In </label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
/*more and fewer tag_uppers start*/
var $this = $('.upperItems');
if ($this.find('div').length > 2) {
    $('.upperItems').append('<div "><a id="appendShowmore" href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education upperItems, hide the remaining
$('.upperItems .item').slice(0, 3).addClass('shown');
$('.upperItems .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.upperItems .showMore').on('click', function() {
    $('.upperItems .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer tag_uppers end*/
/*more and fewer state start*/
var $this2 = $('.upperItems2');
if ($this.find('div').length > 2) {
    $('.upperItems2').append('<div "><a href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education upperItems, hide the remaining
$('.upperItems2 .item').slice(0, 3).addClass('shown');
$('.upperItems2 .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.upperItems2 .showMore').on('click', function() {
    $('.upperItems2 .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer state end*/

/*more and fewer political  start*/
var $this2 = $('.upperItems3');
if ($this.find('div').length > 2) {
    $('.upperItems3').append('<div "><a href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education upperItems, hide the remaining
$('.upperItems3 .item').slice(0, 3).addClass('shown');
$('.upperItems3 .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.upperItems3 .showMore').on('click', function() {
    $('.upperItems3 .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer polictical end*/
/* Filter by tag_upper*/
//var $filterCheckboxes = $('input[type="checkbox"]');
var $filterCheckboxes_upper = $('input:checkbox[name="tag_upper"]');
$filterCheckboxes_upper.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxes_upper.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card .badge');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).text().split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults.closest('.cardDiv')).show();

});


/*Filter By states_upper*/
var $filterCheckboxesState_upper = $('input:checkbox[name="states_upper"]');
//console.log($filterCheckboxesState);
$filterCheckboxesState_upper.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesState_upper.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card .state');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).text().split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults.closest('.cardDiv')).show();

});



/*Filter By Election Year*/
var $filterCheckboxesElection_Year_upper = $('input:checkbox[name="Election_Year_upper"]');
//console.log($filterCheckboxesState);
$filterCheckboxesElection_Year_upper.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesElection_Year_upper.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card .year');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('Election_Year_upper').toString().split();
            //currentFilterValues = $(this).data('Election_Year_upper').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults.closest('.cardDiv')).show();

});


/*Filter by Candidate Gender_upper*/

var $filterCheckboxesGender_upper = $('input:checkbox[name="Gender_upper"]');
//console.log($filterCheckboxesRecipientType_upper);
$filterCheckboxesGender_upper.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesGender_upper.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.cardDiv');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('Gender_upper').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults).show();

});

/* Filter By RecipientType_upper*/
var $filterCheckboxesRecipientType_upper = $('input:checkbox[name="RecipientType_upper"]');
//console.log($filterCheckboxesRecipientType_upper);
$filterCheckboxesRecipientType_upper.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesRecipientType_upper.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.cardDiv');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('recipient').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults).show();

});
/* Filter By political_affiliation_upper */
var $filterCheckboxespolitical_affiliation_upper = $('input:checkbox[name="political_affiliation_upper"]');
$filterCheckboxespolitical_affiliation_upper.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxespolitical_affiliation_upper.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }
        selectedFilters[this.name].push(this.value);
    });

    var $filteredResults = $('.cardDiv');
    $.each(selectedFilters, function(name, filterValues) {
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                currentFilterValues = $(this).data('polical_affiliation').split();

            $.each(currentFilterValues, function(_, currentFilterValue) {

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
           
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults).show();

});
/**************Sort by radio value****************/

radioValues_upper = $('input[name="sortby_upper"]');

radioValues_upper.on('change', function() {
    sortValue = radioValues_upper.filter(':checked').val();
    //allCard = $(".card .progress-bar");
    if (sortValue == "Closest") {
        var rrr=$('.cardDiv').sort(function(a, b) {
            
            var sss = $(a).find('.card .progress-bar').css('width') < $(b).find('.card .progress-bar').css('width');
            
            return sss;
            
        });
        $("#exploreId").html(rrr);
       
    }
    else if(sortValue=="raised")
    {
        var rrr=$('.cardDiv').sort(function(a, b) {
            
            /*console.log($(a).find('.card .amount_raised').text().toString().replace('$',''));
            console.log($(b).find('.card .amount_raised').text().toString().replace('$',''));*/
            var sss = parseFloat($(a).find('.card .amount_raised').text().toString().replace('$','')) < parseFloat($(b).find('.card .amount_raised').text().toString().replace('$',''));
            
            return sss;
            
        });
        //console.log(rrr);
        $("#exploreId").html(rrr);
    }
    else if(sortValue=="updated")
    {
        var rrr=$('.cardDiv').sort(function(a, b) {
            
            /*console.log($(a).find('.card .amount_raised').text().toString().replace('$',''));
            console.log($(b).find('.card .amount_raised').text().toString().replace('$',''));*/
            var sss = parseFloat($(a).data('time_date').toString()) < parseFloat($(b).data('time_date').toString());
            
            return sss;
            
        });
        //console.log(rrr);
        $("#exploreId").html(rrr);
    }
    else
    {
        var rrr=$('.cardDiv').sort(function(a, b) {
            
            /*console.log($(a).find('.card .amount_raised').text().toString().replace('$',''));
            console.log($(b).find('.card .amount_raised').text().toString().replace('$',''));*/
            var sss = parseFloat($(a).data('time_date').toString()) > parseFloat($(b).data('time_date').toString());
            
            return sss;
            
        });
        //console.log(rrr);
        $("#exploreId").html(rrr);

    }
});
</script>