{%load static%}
<div class="row" style="padding-top: 40px;">
    <div class="col">
        <div style=" overflow-y: scroll;max-height:100vh ">
            <div>
                <h3 class="content-short">Sort by</h3>
            </div>
            <div>
                <form>
                    <input type="radio" name="sortby" value="popular" checked id="sort1">
                    <label for="sort1">Popular this week </label><br>
                    <input type="radio" name="sortby" value="Closest" id="sort2">
                    <label for="sort2">Closest to goal </label><br>
                    <input type="radio" name="sortby" value="raised" id="sort3">
                    <label for="sort3">Most funds raised</label><br>
                    <input type="radio" name="sortby" value="updated" id="sort4">
                    <label for="sort4">Recently updated </label>
                </form>
            </div>
            <hr>
            <div>
                <h3 class="content-short">Filter by</h3>
                <h6>
                    <strong>Tags</strong>
                </h6>
            </div>
            <div class="items">
                <div class="item">
                    <input type="checkbox" id="check_tag1" name="tag" value="Campaign Finance Reform">
                    <label for="check_tag1">Campaign Finance Reform </label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag2" name="tag" value="Civil Rights">
                    <label for="check_tag2">Civil Rights </label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag3" name="tag" value="Climate Change">
                    <label for="check_tag3">Climate Change</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag4" name="tag" value="Criminal Justice Reform">
                    <label for="check_tag4">Criminal Justice Reform</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag5" name="tag" value="Environment">
                    <label for="check_tag5">Environment</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag6" name="tag" value="Gender Equality">
                    <label for="check_tag6">Gender Equality</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag7" name="tag" value="Gun Safety">
                    <label for="check_tag7">Gun Safety</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag8" name="tag" value="Health Care">
                    <label for="check_tag8">Health Care</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag9" name="tag" value="Immigration Reform">
                    <label for="check_tag9">Immigration Reform</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag10" name="tag" value="Income Inequality">
                    <label for="check_tag10">Income Inequality</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag11" name="tag" value="International Diplomacy">
                    <label for="check_tag11">International Diplomacy</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag12" name="tag" value="Internet Policy">
                    <label for="check_tag12">Internet Policy</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag13" name="tag" value="LGBTQ Rights">
                    <label for="check_tag13">LGBTQ Rights</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag14" name="tag" value="Marijuana Legalization">
                    <label for="check_tag14">Marijuana Legalization</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag15" name="tag" value="Pro Choice">
                    <label for="check_tag15">Pro Choice</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag16" name="tag" value="Public Education">
                    <label for="check_tag16">Public Education</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag17" name="tag" value="Transport Infrastructure">
                    <label for="check_tag17">Transport Infrastructure</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag18" name="tag" value="Union Rights">
                    <label for="check_tag18">Union Rights</label>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag19" name="tag" value="womeninpolitics">
                    <label for="check_tag19">womeninpolitics</label>
                </div>
            </div>
            <div style="margin-top: 1rem">
                <h6>
                    <strong>State</strong>
                </h6>
            </div>
            <div class="items2">
                <div class="item">
                    <input type="checkbox" name="states" value="AL" id="stateAL">
                    <label for="stateAL">Alabama </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="AK" id="stateAK">
                    <label for="stateAK">Alaska </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="AZ" id="stateAZ">
                    <label for="stateAZ">Arizona </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="AR" id="stateAR">
                    <label for="stateAR">Arkansas</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="CA" id="stateCA">
                    <label for="stateCA">California</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="CO" id="stateCO">
                    <label for="stateCO">Colorado</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="CT" id="stateCT">
                    <label for="stateCT">Connecticut</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="DE" id="stateDE">
                    <label for="stateDE">Delaware</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="DC" id="stateDC">
                    <label for="stateDC">District Of Columbia</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="FL" id="stateFL">
                    <label for="stateFL">Florida</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="GA" id="stateGA">
                    <label for="stateGA">Georgia</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="HI" id="stateHI">
                    <label for="stateHI">Hawaii</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="ID" id="stateID">
                    <label for="stateID">Idaho</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="IL" id="stateIL">
                    <label for="stateIL">Illinois</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="IN" id="stateIN">
                    <label for="stateIN">Indiana</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="IA" id="stateIA">
                    <label for="stateIA">Iowa</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="KS" id="stareKS">
                    <label for="stareKS">Kansas</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="KY" id="stateKY">
                    <label for="stateKY">Kentucky</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="LA" id="stateLA">
                    <label for="stateLA">Louisiana</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="ME" id="stateME">
                    <label for="stateME">Maine</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MD" id="stateMD">
                    <label for="stateMD">Maryland</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MA" id="stateMA">
                    <label for="stateMA">Massachusetts</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MI" id="stateMI">
                    <label for="stateMI">Michigan</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MN" id="stateMN">
                    <label for="stateMN">Minnesota</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MS" id="stateMS">
                    <label for="stateMS">Mississippi</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MO" id="stateMO">
                    <label for="stateMO">Missouri</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MT" id="stateMT">
                    <label for="stateMT">Montana</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NE" id="stateNE">
                    <label for="stateNE">Nebraska</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NV" id="stateNV">
                    <label for="stateNV">Nevada</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NH" id="stateNH">
                    <label for="stateNH">New Hampshire</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NJ" id="stateNJ">
                    <label for="stateNJ">New Jersey</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NM" id="stateNM">
                    <label for="stateNM">New Mexico</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NY" id="stateNY">
                    <label for="stateNY">New York</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NC" id="stateNC">
                    <label for="stateNC">North Carolina</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="ND" id="stateND">
                    <label for="stateND">North Dakota</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="OH" id="stateOH">
                    <label for="stateOH">Ohio</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="OK" id="stateOK">
                    <label for="stateOK">Oklahoma</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="OR" id="stateOR">
                    <label for="stateOR">Oregon</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="PA" id="statePA">
                    <label for="statePA">Pennsylvania</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="RI" id="stateRI">
                    <label for="stateRI">Rhode Island</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="SC" id="stateSC">
                    <label for="stateSC">South Carolina</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="SD" id="stateSD">
                    <label for="stateSD">South Dakota</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="TN" id="stateTN">
                    <label for="stateTN">Tennessee</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="TX" id="stateTX">
                    <label for="stateTX">Texas</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="UT" id="stateUT">
                    <label for="stateUT">Utah</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="VT" id="stateVT">
                    <label for="stateVT">Vermont</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="VA" id="stateVA">
                    <label for="stateVA">Virginia</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="WA" id="stateWA">
                    <label for="stateWA">Washington</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="WV" id="stateWV">
                    <label for="stateWV">West Virginia</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="WI" id="stateWI">
                    <label for="stateWI">Wisconsin</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="WY" id="stateWY">
                    <label for="stateWY">Wyoming</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="VI" id="stateVI">
                    <label for="stateVI">U.S. Virgin Islands</label>
                </div>
            </div>
            <div style="margin-top: 1rem">
                <h6><strong>Recipient Type</strong></h6>
            </div>
            <div>
                <input type="checkbox" name="RecipientType" value="Candidate" id="candidateCheck1">
                <label for="candidateCheck1">Candidate </label><br>
                <input type="checkbox" name="RecipientType" value="Organization" id="candidateCheck2">
                <label for="candidateCheck2">Organization </label><br>
            </div>
            <div>
                <h6><strong>Election Year </strong></h6>
            </div>
            <div>
                <input type="checkbox" name="Election_Year" value="2020" id="2020">
                <label for="2020">2020</label><br>
                <input type="checkbox" name="Election_Year" value="2021" id="2021">
                <label for="2021">2021</label><br>
                <input type="checkbox" name="Election_Year" value="2022" id="2022">
                <label for="2022">2022</label><br>
            </div>
            <div>
                <h6><strong>Candidate Gender </strong></h6>
            </div>
            <div>
                <input type="checkbox" name="Gender" value="Male" id="Male">
                <label for="Male">Male</label><br>
                <input type="checkbox" name="Gender" value="Female" id="Female">
                <label for="Female">Female</label><br>
                <input type="checkbox" name="Gender" value="Unspecified" id="Unspecified">
                <label for="Unspecified">Unspecified </label><br>
            </div>
            <div>
                <h6>
                    <strong>Political Affiliation </strong>
                </h6>
            </div>
            <div class="items3">
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Democrat" id="Democrat">
                    <label for="Democrat">Democrat </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Independent" id="Independent">
                    <label for="Independent">Independent </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Green" id="Green">
                    <label for="Green">Green </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Libertarian" id="Libertarian">
                    <label for="Libertarian">
                        Libertarian </label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Unaffiliated" id="Unaffiliated">
                    <label for="Unaffiliated">Unaffiliated</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="political_affiliation" value="Write-In" id="Write-In">
                    <label for="Write-In">Write-In </label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
/*more and fewer tags start*/
var $this = $('.items');
if ($this.find('div').length > 2) {
    $('.items').append('<div "><a id="appendShowmore" href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education items, hide the remaining
$('.items .item').slice(0, 3).addClass('shown');
$('.items .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.items .showMore').on('click', function() {
    $('.items .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer tags end*/
/*more and fewer state start*/
var $this2 = $('.items2');
if ($this.find('div').length > 2) {
    $('.items2').append('<div "><a href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education items, hide the remaining
$('.items2 .item').slice(0, 3).addClass('shown');
$('.items2 .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.items2 .showMore').on('click', function() {
    $('.items2 .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer state end*/

/*more and fewer political  start*/
var $this2 = $('.items3');
if ($this.find('div').length > 2) {
    $('.items3').append('<div "><a href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education items, hide the remaining
$('.items3 .item').slice(0, 3).addClass('shown');
$('.items3 .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.items3 .showMore').on('click', function() {
    $('.items3 .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer polictical end*/



/* Filter by tag*/
//var $filterCheckboxes = $('input[type="checkbox"]');
var $filterCheckboxes = $('input:checkbox[name="tag"]');

$filterCheckboxes.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxes.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card .badge');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .tag elements
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).text().split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults.closest('.cardDiv')).show();

});


/*Filter By States*/
var $filterCheckboxesState = $('input:checkbox[name="states"]');
//console.log($filterCheckboxesState);
$filterCheckboxesState.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesState.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.cardDiv .state');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).text().split();
            console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults.closest('.cardDiv')).show();

});



/*Filter By Election Year*/
var $filterCheckboxesElection_Year = $('input:checkbox[name="Election_Year"]');
//console.log($filterCheckboxesState);
$filterCheckboxesElection_Year.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesElection_Year.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card .year');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('election_year').toString().split();
            //currentFilterValues = $(this).data('election_year').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults.closest('.cardDiv')).show();

});


/*Filter by Candidate Gender*/

var $filterCheckboxesGender = $('input:checkbox[name="Gender"]');
//console.log($filterCheckboxesRecipientType);
$filterCheckboxesGender.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesGender.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.cardDiv');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('gender').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults).show();

});

/* Filter By RecipientType*/
var $filterCheckboxesRecipientType = $('input:checkbox[name="RecipientType"]');
//console.log($filterCheckboxesRecipientType);
$filterCheckboxesRecipientType.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesRecipientType.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.cardDiv');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('recipient').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults).show();

});
/* Filter By Political_Affiliation */
var $filterCheckboxesPolitical_Affiliation = $('input:checkbox[name="political_affiliation"]');
//console.log($filterCheckboxesRecipientType);
$filterCheckboxesPolitical_Affiliation.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesPolitical_Affiliation.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.cardDiv');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('polical_affiliation').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.cardDiv').hide().filter($filteredResults).show();

});
/**************Sort by radio value****************/

radioValues = $('input[name="sortby"]');
//radioValues.onchange
radioValues.on('change', function() {
    sortValue = radioValues.filter(':checked').val();
    //allCard = $(".card .progress-bar");
    if (sortValue == "Closest") {
        var rrr=$('.cardDiv').sort(function(a, b) {
            
            var sss = $(a).find('.card .progress-bar').css('width') < $(b).find('.card .progress-bar').css('width');
            
            return sss;
            
        });
        $("#exploreId").html(rrr);
       
    }
    else if(sortValue=="raised")
    {
        var rrr=$('.cardDiv').sort(function(a, b) {
            
            /*console.log($(a).find('.card .amount_raised').text().toString().replace('$',''));
            console.log($(b).find('.card .amount_raised').text().toString().replace('$',''));*/
            var sss = parseFloat($(a).find('.card .amount_raised').text().toString().replace('$','')) < parseFloat($(b).find('.card .amount_raised').text().toString().replace('$',''));
            
            return sss;
            
        });
        //console.log(rrr);
        $("#exploreId").html(rrr);
    }
    else if(sortValue=="updated")
    {
        var rrr=$('.cardDiv').sort(function(a, b) {
            
            /*console.log($(a).find('.card .amount_raised').text().toString().replace('$',''));
            console.log($(b).find('.card .amount_raised').text().toString().replace('$',''));*/
            var sss = parseFloat($(a).data('time_date').toString()) < parseFloat($(b).data('time_date').toString());
            
            return sss;
            
        });
        //console.log(rrr);
        $("#exploreId").html(rrr);
    }
    else
    {
        var rrr=$('.cardDiv').sort(function(a, b) {
            
            /*console.log($(a).find('.card .amount_raised').text().toString().replace('$',''));
            console.log($(b).find('.card .amount_raised').text().toString().replace('$',''));*/
            var sss = parseFloat($(a).data('time_date').toString()) > parseFloat($(b).data('time_date').toString());
            
            return sss;
            
        });
        //console.log(rrr);
        $("#exploreId").html(rrr);

    }
});
</script>