<div class="row" style="padding-top: 40px;">
    <div class="col">
        <div style=" overflow-y: scroll;max-height:100vh ">
            <div>
                <h3 class="content-short">Sort by</h3>
            </div>
            <div>
                <form>
                    <input type="radio" id="mal" name="people" value="male">
                    <label for="mal1">Popular this week </label><br>
                    <input type="radio" id="mal2" name="people" value="female">
                    <label for="mal2">Closest to goal </label><br>
                    <input type="radio" id="mal3" name="people" value="other">
                    <label for="mal3">Most funds raised</label><br>
                    <input type="radio" id="mal4" name="people" value="other">
                    <label for="mal4">Recently updated </label>
                </form>
            </div>
            <hr>
            <div>
                <h3 class="content-short">Filter by</h3>
                <h6>
                    <strong>Tags</strong>
                </h6>
            </div>
            <div>
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1">Campaign Finance Reform </label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                <label for="vehicle2">Civil Rights </label><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3">Criminal Justice Reform </label><br>
                <a href="#" class="rcls" id="tagsMore" onclick="tagsMore(this)">+ More tags</a>
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1">Campaign Finance Reform </label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                <label for="vehicle2">Civil Rights </label><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3">Criminal Justice Reform </label><br>
            </div>
            <div>
                <h6>
                    <strong>State (1)</strong>
                </h6>
            </div>
            <div>
                <form>
                    <form action="/action_page.php">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">Alabama </label><br>
                        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                        <label for="vehicle2">Alaska </label><br>
                        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                        <label for="vehicle3">Arizona </label><br>
                        <button class="unstyled-button like-link2" type="button"><strong>+ More states</strong> </button>
                    </form>
                </form>
            </div>
            <div>
                <h6><strong>Recipient Type</strong></h6>
            </div>
            <div>
                <form>
                    <form action="/action_page.php">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">Candidate </label><br>
                        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                        <label for="vehicle2">Organization </label><br>
                    </form>
                </form>
            </div>
            <div>
                <h6><strong>Election Year </strong></h6>
            </div>
            <div>
                <form>
                    <form action="/action_page.php">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">2020</label><br>
                        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                        <label for="vehicle2">2021</label><br>
                        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                        <label for="vehicle3">2022</label><br>
                    </form>
                </form>
            </div>
            <div>
                <h6><strong>Candidate Gender </strong></h6>
            </div>
            <div>
                <form>
                    <form action="/action_page.php">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">Male</label><br>
                        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                        <label for="vehicle2">Female</label><br>
                        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                        <label for="vehicle3">Unspecified </label><br>
                    </form>
                </form>
            </div>
            <div>
                <h6>
                    <strong>Political Affiliation </strong>
                </h6>
            </div>
            <div>
                <form>
                    <form action="/action_page.php">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">Democrat </label><br>
                        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                        <label for="vehicle2">Independent </label><br>
                        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                        <label for="vehicle3">Green </label><br>
                        <button class="unstyled-button like-link2" type="button"><strong>+ More affiliations</strong> </button>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
// For: http://www.webdeveloper.com/forum/showthread.php?364215-Show-only-first-line-of-a-paragraph&p=1508263#post1508263
function tagsMore(arg) {
    $(".hide").show();
    var r = document.getElementById("tagsMore");
    a = document.getElementById("tagsLess");
    a.style.cssText = "display:block !important"
    r.style.display = 'none';
    console.log(r);
    console.log(a);
}

function tagsLess() {

    $(".hide").hide();
    var r = document.getElementById("tagsMore");
    r.style.display = 'block';
}
</script>