<div class="row" style="padding-top: 40px;">
    <div class="col">
        <div style=" overflow-y: scroll;max-height:100vh ">
            <div>
                <h3 class="content-short">Sort by</h3>
            </div>
            <div>
                <form>
                    <input type="radio" id="mal" name="people" value="male">
                    <label for="mal1">Popular this week </label><br>
                    <input type="radio" id="mal2" name="people" value="female">
                    <label for="mal2">Closest to goal </label><br>
                    <input type="radio" id="mal3" name="people" value="other">
                    <label for="mal3">Most funds raised</label><br>
                    <input type="radio" id="mal4" name="people" value="other">
                    <label for="mal4">Recently updated </label>
                </form>
            </div>
            <hr>
            <div>
                <h3 class="content-short">Filter by</h3>
                <h6>
                    <strong>Tags</strong>
                </h6>
            </div>
            <div class="items">
                <div class="item">
                    <input type="checkbox" id="check_tag1" name="tag" value="Campaign Finance Reform">
                    <span>Campaign Finance Reform </span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag2" name="tag" value="Civil Rights">
                    <span>Civil Rights </span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag3" name="tag" value="Climate Change">
                    <span>Climate Change</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag4" name="tag" value="Criminal Justice Reform">
                    <span>Criminal Justice Reform</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag5" name="tag" value="Environment">
                    <span>Environment</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag6" name="tag" value="Gender Equality">
                    <span>Gender Equality</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag7" name="tag" value="Gun Safety">
                    <span>Gun Safety</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag8" name="tag" value="Health Care">
                    <span>Health Care</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag9" name="tag" value="Immigration Reform">
                    <span>Immigration Reform</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag10" name="tag" value="Income Inequality">
                    <span>Income Inequality</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag11" name="tag" value="International Diplomacy">
                    <span>International Diplomacy</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag12" name="tag" value="Internet Policy">
                    <span>Internet Policy</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag13" name="tag" value="LGBTQ Rights">
                    <span>LGBTQ Rights</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag14" name="tag" value="Marijuana Legalization">
                    <span>Marijuana Legalization</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag15" name="tag" value="Pro Choice">
                    <span>Pro Choice</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag16" name="tag" value="Public Education">
                    <span>Public Education</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag17" name="tag" value="Transport Infrastructure">
                    <span>Transport Infrastructure</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="check_tag18" name="tag" value="Union Rights">
                    <span>Union Rights</span>
                </div>
                <div class="item">
                    <input type="checkbox" id="vehicle2" name="tag" value="womeninpolitics">
                    <span>womeninpolitics</span>
                </div>
            </div>
            <div style="margin-top: 1rem">
                <h6>
                    <strong>State</strong>
                </h6>
            </div>
            <div class="items2">
                <div class="item">
                    <input type="checkbox" name="states" value="AL">
                    <span>Alabama </span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="AK">
                    <span>Alaska </span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="AZ">
                    <span>Arizona </span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="AR">
                    <span>Arkansas</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="CA">
                    <span>California</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="CO">
                    <span>Colorado</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="CT">
                    <span>Connecticut</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="DE">
                    <span>Delaware</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="DC">
                    <span>District Of Columbia</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="FL">
                    <span>Florida</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="GA">
                    <span>Georgia</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="HI">
                    <span>Hawaii</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="ID">
                    <span>Idaho</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="IL">
                    <span>Illinois</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="IN">
                    <span>Indiana</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="IA">
                    <span>Iowa</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="KS">
                    <span>Kansas</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="KY">
                    <span>Kentucky</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="LA">
                    <span>Louisiana</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="ME">
                    <span>Maine</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MD">
                    <span>Maryland</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MA">
                    <span>Massachusetts</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MI">
                    <span>Michigan</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MN">
                    <span>Minnesota</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MS">
                    <span>Mississippi</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MO">
                    <span>Missouri</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="MT">
                    <span>Montana</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NE">
                    <span>Nebraska</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NV">
                    <span>Nevada</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NH">
                    <span>New Hampshire</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NJ">
                    <span>New Jersey</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NM">
                    <span>New Mexico</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NY">
                    <span>New York</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="NC">
                    <span>North Carolina</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="ND">
                    <span>North Dakota</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="OH">
                    <span>Ohio</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="OK">
                    <span>Oklahoma</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="OR">
                    <span>Oregon</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="PA">
                    <span>Pennsylvania</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="RI">
                    <span>Rhode Island</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="SC">
                    <span>South Carolina</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="SD">
                    <span>South Dakota</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="TN">
                    <span>Tennessee</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="TX">
                    <span>Texas</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="UT">
                    <span>Utah</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="VT">
                    <span>Vermont</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="VA">
                    <span>Virginia</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="WA">
                    <span>Washington</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="WV">
                    <span>West Virginia</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="WI">
                    <span>Wisconsin</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="WY">
                    <span>Wyoming</span>
                </div>
                <div class="item">
                    <input type="checkbox" name="states" value="VI">
                    <span>U.S. Virgin Islands</span>
                </div>
            </div>
            <div style="margin-top: 1rem">
                <h6><strong>Recipient Type</strong></h6>
            </div>
            <div>
                <input type="checkbox" name="RecipientType" value="Candidate">
                <label for="Candidate">Candidate </label><br>
                <input type="checkbox" name="RecipientType" value="Organization">
                <label for="Organization">Organization </label><br>
            </div>
            <div>
                <h6><strong>Election Year </strong></h6>
            </div>
            <div>
                <input type="checkbox" name="Election_Year" value="2020">
                <label for="2020">2020</label><br>
                <input type="checkbox" name="Election_Year" value="2021">
                <label for="021">2021</label><br>
                <input type="checkbox" name="Election_Year" value="2022">
                <label for="2022">2022</label><br>
            </div>
            <div>
                <h6><strong>Candidate Gender </strong></h6>
            </div>
            <div>
                <input type="checkbox"  name="Gender" value="Male">
                <label for="Male">Male</label><br>
                <input type="checkbox"  name="Gender" value="Female">
                <label for="Female">Female</label><br>
                <input type="checkbox"  name="Gender" value="Unspecified">
                <label for="vUnspecified">Unspecified </label><br>
            </div>
            <div>
                <h6>
                    <strong>Political Affiliation </strong>
                </h6>
            </div>
            <div class="items3">
                <div class="item">
                    <input type="checkbox"  name="political_affiliation" value="Democrat">
                    <span>Democrat </span>
                </div>
                <div class="item">
                    <input type="checkbox"  name="political_affiliation" value="Independent">
                    <span>Independent </span>
                </div>
                <div class="item">
                    <input type="checkbox"  name="political_affiliation" value="Green">
                    <span>Green </span>
                </div>
                <div class="item">
                    <input type="checkbox"  name="political_affiliation" value="Libertarian">
                    <span>
                        Libertarian </span>
                </div>
                <div class="item">
                    <input type="checkbox"  name="political_affiliation" value="Unaffiliated">
                    <span>Unaffiliated</span>
                </div>
                <div class="item">
                    <input type="checkbox"  name="political_affiliation" value="Write-In">
                    <span>Write-In </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
/*more and fewer tags start*/
var $this = $('.items');
if ($this.find('div').length > 2) {
    $('.items').append('<div "><a id="appendShowmore" href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education items, hide the remaining
$('.items .item').slice(0, 3).addClass('shown');
$('.items .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.items .showMore').on('click', function() {
    $('.items .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer tags end*/
/*more and fewer state start*/
var $this2 = $('.items2');
if ($this.find('div').length > 2) {
    $('.items2').append('<div "><a href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education items, hide the remaining
$('.items2 .item').slice(0, 3).addClass('shown');
$('.items2 .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.items2 .showMore').on('click', function() {
    $('.items2 .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer state end*/

/*more and fewer political  start*/
var $this2 = $('.items3');
if ($this.find('div').length > 2) {
    $('.items3').append('<div "><a href="#/" class="showMore rcls"></a></div>');

}

// If more than 2 Education items, hide the remaining
$('.items3 .item').slice(0, 3).addClass('shown');
$('.items3 .item').not('.shown').hide();
//$("#appendShowmore").text('Show More');
$('.items3 .showMore').on('click', function() {
    $('.items3 .item').not('.shown').toggle(300);
    //("#appendShowmore").text('Show Less');
    $(this).toggleClass('showLess');
});
/*more and fewer polictical end*/



/* Filter by tag*/
//var $filterCheckboxes = $('input[type="checkbox"]');
var $filterCheckboxes = $('input:checkbox[name="tag"]');
$filterCheckboxes.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxes.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card .badge');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).text().split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.card').hide().filter($filteredResults.closest('.card')).show();

});


/*Filter By States*/
var $filterCheckboxesState = $('input:checkbox[name="states"]');
//console.log($filterCheckboxesState);
$filterCheckboxesState.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesState.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).text().split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.card').hide().filter($filteredResults.closest('.card')).show();

});



/*Filter By Election Year*/
var $filterCheckboxesElection_Year = $('input:checkbox[name="Election_Year"]');
//console.log($filterCheckboxesState);
$filterCheckboxesElection_Year.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesElection_Year.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card .year');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('election_year').toString().split();
                //currentFilterValues = $(this).data('election_year').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.card').hide().filter($filteredResults.closest('.card')).show();

});


/*Filter by Candidate Gender*/

var $filterCheckboxesGender = $('input:checkbox[name="Gender"]');
//console.log($filterCheckboxesRecipientType);
$filterCheckboxesGender.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesGender.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('gender').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.card').hide().filter($filteredResults).show();

});

/* Filter By RecipientType*/
var $filterCheckboxesRecipientType = $('input:checkbox[name="RecipientType"]');
//console.log($filterCheckboxesRecipientType);
$filterCheckboxesRecipientType.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesRecipientType.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('recipient').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.card').hide().filter($filteredResults).show();

});
/* Filter By Political_Affiliation */
var $filterCheckboxesPolitical_Affiliation = $('input:checkbox[name="political_affiliation"]');
//console.log($filterCheckboxesRecipientType);
$filterCheckboxesPolitical_Affiliation.on('change', function() {

    var selectedFilters = {};

    $filterCheckboxesPolitical_Affiliation.filter(':checked').each(function() {

        if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
        }

        selectedFilters[this.name].push(this.value);
        //console.log(selectedFilters);
    });

    // create a collection containing all of the filterable elements
    var $filteredResults = $('.card');
    //console.log("filteredResults",$filteredResults);
    // loop over the selected filter name -> (array) values pairs
    $.each(selectedFilters, function(name, filterValues) {

        // filter each .flower element
        $filteredResults = $filteredResults.filter(function() {

            var matched = false,
                //currentFilterValues = $(this).data('category').split(' ');
                //currentFilterValues = $(this).find(".badge").text().split();
                currentFilterValues = $(this).data('polical_affiliation').split();
            //console.log(currentFilterValues)


            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {

                // if the current category exists in the selected filters array
                // set matched to true, and stop looping. as we're ORing in each
                // set of filters, we only need to match once

                if ($.inArray(currentFilterValue, filterValues) != -1) {
                    matched = true;
                    return false;
                }
            });

            // if matched is true the current .flower element is returned
            //console.log('maaa',matched);
            return matched;

        });
    });
    //console.log($('.badge').closest(".card").filter($filteredResults).show());
    //console.log($filteredResults.closest('.card'));  
    $('.card').hide().filter($filteredResults).show();

});
</script>