{% load static %}
<div class="row">
    <div class="col-sm-10 offset-sm-1">
        <h2 class="title2 text-center">Explore Campaigns</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <i class="fas scarch__icon fa-search h4 text-body" style="position: absolute;top:10px;margin-left:5px"></i>
        <input class="form-control" type="search" style="padding-left: 30px">
        <a class="rclst" style="position: absolute;top:5px;right: 20px" href="#">clear</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="{% url 'view_campaign' %}" class="rcls" style="color:initial">
            <div class="card class_not_hover_cursor_hand" style="padding: 1rem;margin-top: 2rem">
                <h5 class="card-title">26-year old truck driver & climate activist fighting for the working class </h5>
                <img src="{% static 'images/cyst94ggea6r6iag1568.png'%}" alt="Card image cap" class="card-img-top">
                <div class="card-body" style="padding: 0px">
                    <h6>Joshua Collins</h6>
                    <p class="card-text text-justify">2020 U.S. House, 10th District, WA</p>
                    <hr>
                    <p class="card-text text-justify">I've been a trucker for 5 years, and part of the workforce for over 11 years. I grew up poor in the Midwest; my college plans...</p>
                    <div class="btn-card-bg">
                        <a class="clsm" href="#">
                            <span class="badge text__badge">Climate Change</span>
                        </a>
                        <a class="clsm" href="#">
                            <span class="badge text__badge">Health care</span>
                        </a>
                        <a class="clsm" href="#">
                            <span class="badge text__badge">Immigration Reform</span>
                        </a>
                        <a class="clsm" href="#">
                            <span class="badge text__badge">LGBTQ Rights Inequality</span>
                        </a>
                        <a class="clsm" href="#">
                            <span class="badge text__badge">Income Inequality</span>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row" style="float:left">
                                <div class="col">
                                    <strong>$868</strong>
                                    Raised
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row" style="float:right">
                                <div class="col">
                                    <strong>22</strong>
                                    Supporters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="progress baseball-card__progress-bar">
                                <div class="progress-bar baseball-card__progress-bar-fill" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>