{%load static%}
<div class="row">
    <div class="col text-center">
        <span class="mini-recipient">
            The Campaign
        </span>
    </div>
</div>
<div class="row" style="margin-top: .8rem">
    <div class="col text-center">
        <span class="title2">
            Set your fundraising goal and donation amounts
        </span>
    </div>
</div>
<div class="row" style="margin-top: .8rem">
    <div class="col text-center">
        <h5 style="font-weight: normal">
            Start with an achievable goal. You can always increase this later.
        </h5>
    </div>
</div>
<div class="row" style="margin-top: 3rem">
    <div class="col">
        <div class="row">
            <div class="col">
                <label style="float: left;">Fundraising Goal</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <span class="dollarSign_number_input">$</span>
                <input  type="number" step="0.01" class="text_number_input" id="Fundraising_Goal">
            </div>
            <div class="col-sm-6">
                <p class="mini-recipient">
                    Set a goal that you think you can hit. Donors are more likely to give when they see that they can help you hit your goals.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr class="bottom-line">
    </div>
</div>
<div class="row" style="margin-top: 3rem">
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="mini-recipient__title" style="float: left;">
                    Custom Donation Amounts</label>
            </div>
        </div>
        <div class="row">
            <div class="col" style="font-size: 13px">
                Please set four custom donation amounts for your page, which will act as your default donation levels. You also can add labels for each amount (e.g. $25 could be "Buys 5 yard signs."), which will appear to the right of your story. Adding a tangible label to each amount helps donors understand the impact of their donation.
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2rem">
    <div class="col">
        <div class="row">
            <div class="col-lg-5">
                <label class="mini-recipient__title" style="float: left;">Default Donation</label>
                <label class="mini-recipient" style="float: right;">
                    Required</label>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <span class="dollarSign_number_input">$</span>
                        <input type="number" value="25" step="0.01" class="text_number_input" id="Default_Donation">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <input class="text_number_input" type="text" id="Default_Donation_text" placeholder="Optional label, e.g. “Buys 10 ads”">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2rem">
    <div class="col">
        <div class="row">
            <div class="col-lg-5">
                <label class="mini-recipient__title" style="float: left;">Other donation amounts</label>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <span class="dollarSign_number_input">$</span>
                        <input  type="number" value="3" step="0.01" class="text_number_input" id="Other_donation_amounts1">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <input class="text_number_input" type="text" id="Other_donation_amounts1_text" placeholder="Optional label, e.g. “Buys 10 ads”">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 1rem">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <span class="dollarSign_number_input">$</span>
                        <input type="number" value="10" step="0.01" class="text_number_input" id="Other_donation_amounts2">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <input class="text_number_input" type="text" id="Other_donation_amounts2_text" placeholder="Optional label, e.g. “Buys 10 ads”">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 1rem">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <span class="dollarSign_number_input">$</span>
                        <input class="text_number_input" type="number" value="50" step="0.01"  id="Other_donation_amounts3">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <input class="text_number_input" type="text" id="Other_donation_amounts3_text" placeholder="Optional label, e.g. “Buys 10 ads”">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:1rem">
    <div class="col">
        <div class="form-check" id="SavePaymentDiv">
            <input class="form-check-input" type="checkbox" id="SavePayment">
            <label class="form-check-label" for="gridCheck">
                Allow supporters to enroll in recurring donations (automated monthly donations)
            </label>
        </div>
    </div>
</div>
<div class="row" style="background: #F6F6F6;margin-top:3rem;padding-top: 1rem;padding-bottom: 1rem;">
    <div class="col text-center">
        <div class="row">
            <div class="col">
                Not sure what goal to set? We’re here to help!
            </div>
        </div>
        <div class="row" style="margin-top: 1rem">
            <div class="col">
                <a class="rclst" href="#" onclick="tab_pages('Contact_Support')">
                    Help me set my fundraising goal
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:2rem">
    <div class="col">
        <hr class="bottom-line">
    </div>
</div>
<div class="row" style="margin-top: 3rem">
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="mini-recipient__title" style="float: left;">
                    Custom email receipt</label>
            </div>
        </div>
        <div class="row">
            <div class="col mini-recipient">
                Whenever someone contributes to your campaign, Crowdpac sends an automatic email receipt with the details of the transaction. Your custom text will be included near the top of that email.
            </div>
        </div>
        <div class="row" style="margin-top: 1rem">
            <div class="col">
                <textarea class="form-control" id="Custom_email_receipt" rows="4" placeholder="e.g. Thank you so much for your support! I look forward to building this campaign with you..."></textarea>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 6rem">
    <div class="col text-center">
        <button type="button" class="btnr red campaigns" onclick="saveFundraising()">
            Save and continue
        </button>
    </div>
</div>
<div class="row" style="margin-top: 1rem">
    <div class="col text-center">
        <a href="#" class="rclst" onclick="tab_pages('Privacy_Settings')">
            Continue without saving
        </a>
    </div>
</div>

<script type="text/javascript">
	/**
	* Save Fundraising data
	*/
	function saveFundraising(){
		var SavePaymentCheck="false";
		if ($('#SavePayment').is(":checked")) {
        	SavePayment = 'true'
    	}
		datas={
			'Fundraising_Goal':$("#Fundraising_Goal").val(),
			'Default_Donation':$("#Default_Donation").val(),
			'Default_Donation_text':$("#Default_Donation_text").val(),
			'Other_donation_amounts1':$("#Other_donation_amounts1").val(),
			'Other_donation_amounts1_text':$("#Other_donation_amounts1_text").val(),
			'Other_donation_amounts2':$("#Other_donation_amounts2").val(),
			'Other_donation_amounts2_text':$("#Other_donation_amounts2_text").val(),
			'Other_donation_amounts3':$("#Other_donation_amounts3").val(),
			'Other_donation_amounts3_text':$("#Other_donation_amounts3_text").val(),
			'Custom_email_receipt':$("#Custom_email_receipt").val(),
			'SavePayment':SavePayment,
		}
		$.ajax({
        type: "POST",
        url: "{% url 'start_campaign' %}",
        //dataType: 'json',
        data: {
            'fundraising': JSON.stringify(datas),
        },
        success: function(response) {
            $("#defaultDonation").text("Donate  $"+response.context.Default_Donation);
            $("#colOtherDonateButton").empty();
            $("#colOtherDonateButton").prepend(
                '<button type="button" class="btnr btnr-light btnr-spaced">$'+response.context.Other_donation_amounts1+'</button>'+
                '<button type="button" class="btnr btnr-light btnr-spaced">$'+response.context.Other_donation_amounts2+'</button>'+
                '<button type="button" class="btnr btnr-light btnr-spaced">$'+response.context.Other_donation_amounts3+'</button>'+
                '<button class="btnr btnr-light btnr-spaced " data-toggle="modal" data-target="">Other</button>'
            );
            /*$("#optionalDonation1").text();
            $("#optionalDonation").text();
            $("#defaultDonation").text();*/
            tab_pages('Privacy_Settings');
        }
    });
	}
</script>