{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-5">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %} ">
    <script src=" {% static 'bootstrap/jquery-3.5.1.min.js' %} "></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %} "></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'images/favicon.ico'%}" />
    {% block title %} {% endblock title %}
</head>

<body>
    <!---header part start here -->
    <header class="main-header__part">
        <nav class="navbar navbar-expand-md navbar-light main__navbar">
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img class="site-header__logo" src="{% static 'images/crowdpac-logo.png' %}" alt="Logo">
                </a>
            </div>
            <div style="margin-top: -17px;">
                <a href="{% url 'feed' %}">
                    <img src="{% static 'svg/image.svg' %}" style="width: 2rem;height: 2rem;" alt="Logo">
                </a>
            </div>
            <div class="navbar-responsive">
                <form class="form-inline my-2 my-lg-0 float-right">
                    <a class="btn btn-outline-success my-2 my-sm-0 header__button" href="{%url 'start_campaign' %}">Start a Campaign
                    </a>
                    <div class="header__search">
                        <a class="nav-item nav-link" href="#" onclick="toggleSearch()"><i class="fas fa-search"></i></a>
                    </div>
                    {% if contain_user_data.login == 'True' %}
                    <div class="header__search">
                        <a class="nav-item nav-link" href="{% url 'notifications' %}"><i class="fas fa-bell"></i></a>
                    </div>
                    <div class="header__search">
                        <a class="nav-item nav-link" href="#"><i class="far fa-envelope"></i></a>
                    </div>
                    <div class="header__signin dropdown">
                        <a class="nav-item nav-link" href="#" style="margin-top: 0rem" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {%if contain_user_data.pro_pic != "none"%}
                            {% with contain_user_data.pro_pic as pro_pic %}
                            <img src="{% static pro_pic %}" style="border-radius: 75%;border:3px solid #E6E6E6;width: 40px;height: 40px;" alt="propic">
                            {% endwith %}
                            {% else %}
                            <span style="margin-top: 0px" data-letters="{{contain_user_data.data_letters}}">
                            </span>
                            {% endif %}
                        </a>
                        <div id="dd-menu" class="dropdown-menu custom" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'my_campaigns' %}">My Campaigns</a>
                            <a class="dropdown-item" href="{% url 'my_contributions' %}">My Contributions</a>
                            <a class="dropdown-item" href="{% url 'endorsements' %}">My Endorsements</a>
                            <a class="dropdown-item" href="{% url 'connections' %}">My Connections</a>
                            <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                            <a class="dropdown-item" href="#">Sign Out</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="header__signin">
                        <a class="nav-item nav-link" href="{% url 'signin' %}"><strong>Sign In</strong></a>
                    </div>
                    {% endif %}
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item site-header">
                        <a class="clsm" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item site-header">
                        <a class="clsm" href="{% url 'learn' %}">How It Works</a>
                    </li>
                    <li class="nav-item site-header">
                        <a class="clsm" href="{% url 'start_campaign' %}">Start a Campaign</a>
                    </li>
                </ul>
                <hr class="bottom-line">
                Legal
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item site-header">
                        <a class="clsm" href="{% url 'privacy_policy' %}">Privacy Policy</a>
                    </li>
                    <li class="nav-item site-header">
                        <a class="clsm" href="{% url 'terms' %}">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </nav>
        
    </header>
    <div id="navSearchBar" style="width: 100%;display: none">
            <i style="position: absolute;margin-left: 5px;margin-top: 10px" class="fas scarch__icon fa-search h4 text-body"></i>
            <input type="text" name="" style="width: 100%;font-size: 20px;padding-left: 20px;padding-top: .25rem;padding-bottom: .25rem" placeholder="Search our campaigns" >
        </div>
    <script type="text/javascript">
    var navCollapseItems = '<ul class="navbar-nav mr-auto">' +
        '                    <li class="nav-item site-header">' +
        '                        <a class="clsm" href="{% url "home" %}">Home</a>' +
        '                    </li>' +
        '                    <li class="nav-item site-header">' +
        '                        <a class="clsm" href="{% url "learn" %}">How It Works</a>' +
        '                    </li>' +
        '                    <li class="nav-item site-header">' +
        '                        <a class="clsm" href="{% url "start_campaign" %}">Start a Campaign</a>' +
        '                    </li>' +
        '                </ul>' +
        '                <hr class="bottom-line">' +
        '                Legal' +
        '                <ul class="navbar-nav mr-auto">' +
        '                    <li class="nav-item site-header">' +
        '                       <a class="clsm" href="{% url "privacy_policy" %}">Privacy Policy</a> ' +
        '                    </li>' +
        '                    <li class="nav-item site-header">' +
        '                       <a class="clsm" href="{% url "terms" %}">Terms of Use</a> ' +
        '                    </li>' +
        '                </ul>';



    $(window).resize(function() {
        if ($(window).width() <= 767) {
            $("#navbarSupportedContent").empty();
            $("#navbarSupportedContent").append(navCollapseItems);
        } else {
            $("#navbarSupportedContent").empty();
            //alert("message?: DOMString");
        }
    });
    var smallScreen = window.matchMedia("(max-width: 767px)");
    if (smallScreen.matches) {
        $("#navbarSupportedContent").empty();
        $("#navbarSupportedContent").append(navCollapseItems);

    } else {
        $("#navbarSupportedContent").empty();
        //alert("message?: DOMString");
    }
    var llogin = "{{ contain_user_data.login }}";
    if (llogin == "True") {
        var cls = document.getElementsByClassName("main-header__part");
        for (var i = 0; i < cls.length; i++) {
            cls[i].style.paddingBottom = '0px';
            cls[i].style.paddingTop = '0px';
        }
    }



    $("#navbarDropdownMenuLink").hover(function() {

        $("#dd-menu").show();

    },
    function()
    {
        $("#dd-menu").hide();
    });

    $("#dd-menu").hover(function() {

        $("#dd-menu").show();

    },
    function()
    {
        $("#dd-menu").hide();
    });
    function toggleSearch()
    {
        $("#navSearchBar").toggle();
    }
    </script>
    <!--nav part end here-->
    {% block container %} {% endblock container %} {% block style %} {% endblock style %}
    <!--footer part start here-->
    <footer class="footer-section" style="margin-top: 3rem">
        <hr class="bottom-line">
        <div class="row footer-area1">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3 class="brand">CROWDPAC</h3>
                <h6 class="site-footer__nav-heading">About Us</h6>
                <div class="footer-text"><label>Crowdpac is committed to helping emerging leaders run for elected office by raising the funds they need to launch viable campaigns that are competitive from the moment they enter the political arena.</label></div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4">
                <p>Information</p>
                <li><a class="clsm" href="{% url 'pricing' %}">Pricing</a></li>
                <li>Blog</li>
                <li><a class="clsm" href="{% url 'media' %}">Media Inquiries</a></li>
                <li><a class="clsm" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4">
                <p>Our Team</p>
                <li><a class="clsm" href="{% url 'jobs' %}">Job openings<a class="clsm"></li>
                <li>Support</li>
                <li><a class="clsm" href="{% url 'about_us' %}">About Us</a></li>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4">
                <p>Campaigns</p>
                <li><a class="clsm" href="{% url 'learn' %}">How It Works</a></li>
                <li>Start A Campaign</li>
            </div>
        </div>
        <hr class="bottom-line">
        <div class="row footer-area2">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-medium-m"></i>
            </div>
        </div>
    </footer>
    <!--footer part end here-->
    <!--Body grid system start-->
</body>
{% block script %}
{% endblock script %}

</html>