{% extends 'header_footer.html' %} {% load static %} {% block title %}
<style type="text/css">
section {
    overflow-x: hidden;
}
</style>
{% endblock title %} {% block container %}
<section class="banner__part1">
    <div class="row">
        <div class="col-lg-11 col-md-10 col-sm-10 m-auto">
            <div class="row">
                <div class="col-12 banner__center-text text-center">
                    <p>Crowdpac is the social network for politics where Progressive Candidates and Constituents Ignite Change in Our Democracy </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-10 col-md-11 col-sm-12 banner__button1 m-auto text-center">
            <a href="{% url 'start_campaign' %}">Start a campaign</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-5"></div>
        <div class="col-5  col-md-6 col-sm-11 content__body-banner m-auto">
            <div class="row">
                <div class="col-12 banner__right-head ">
                    <h3>Our Mission</h3>
                    <hr style="border-width: 3px 1px 0; border-style: solid; border-color: white; width: 9%;float: left">
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 banner__right-text">
                    <p>Crowdpac is committed to helping emerging leaders run for elected office by raising the funds they need to launch viable campaigns that are competitive from the moment they enter the political arena. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 banner__right-button">
                    <a href="{% url 'about_us' %}">learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="page-divider" />
<!------------------------------------------- banner first part end --------------------------------->
<!----------------------------------------- banner second part start -------------------------------->
<section class="banner__part2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-11 m-auto">
                <div class="row">
                    <div class="col-12 banner__part2-header">
                        <h4>We've made it easier than ever to find campaigns to support</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 banner__part2-text">
                        <p>Explore Crowdpac campaigns by popularity, percent to goal, state, issue, election year and more to find the campaigns and candidates you care about.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <img src="{%static 'images/explore_homefeature_img_hip9q7.png'%}" alt="Light">
            </div>
        </div>
        <div class="row">
            <div class="col-12 banner__part2-button">
                <a href="{% url 'explore' %}">Explore campaigns</a>
            </div>
        </div>
    </div>
</section>
<hr class="page-divider" />
<!-----------------------------------------banner second part end here------------------------------->
<!--------------------------------------campaign part start  here------------------------------->
<section class="card-section">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 campaigns__head-text text-center">
                <h3>Trending Campaigns</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 campaigns__sub-text text-center">
                <p>Fund and support campaigns raising money right now.</p>
            </div>
        </div>
        <div class="row justify-content-center campaigns__part-row">
            <div class="col-md-4 col-12">
                <div class="card border-1" style="height: 100%">
                    <div class="img-animation">
                        <img src="{%static 'images/acota2cajfxsjeihojup.png'%}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 card-title">
                                <h5>Fund Susan Collins' Future Opponent </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 card-title">
                                <p class="card-text text-justify">Created by Be A Hero</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="progress baseball-card__progress-bar">
                                    <div class="progress-bar baseball-card__progress-bar-fill" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="float:left">
                                    <div class="col">
                                        <strong>$4,124,792</strong><br>
                                        Raised
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row" style="float:right">
                                    <div class="col">
                                        <strong>$4,124,792</strong><br>
                                        Donations
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{%static 'images/acota2cajfxsjeihojup.png'%}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 card-title">
                                <h5>Fund Susan Collins' Future Opponent </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 card-title">
                                <p class="card-text text-justify">Created by Be A Hero</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 baseball-card__progress-bar">
                                <div class="baseball-card__progress-bar-fill"></div>
                            </div>
                        </div>
                        <br>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong>
                                Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong>
                                Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{%static 'images/acota2cajfxsjeihojup.png'%}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 card-title">
                                <h5>Fund Susan Collins' Future Opponent </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 card-title">
                                <p class="card-text text-justify">Created by Be A Hero</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 baseball-card__progress-bar">
                                <div class="baseball-card__progress-bar-fill"></div>
                            </div>
                        </div>
                        <br>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong>
                                Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong>
                                Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center campaigns__part-row">
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{%static 'images/acota2cajfxsjeihojup.png'%}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 card-title">
                                <h5>Fund Susan Collins' Future Opponent </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 card-title">
                                <p class="card-text text-justify">Created by Be A Hero</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 baseball-card__progress-bar">
                                <div class="baseball-card__progress-bar-fill"></div>
                            </div>
                        </div>
                        <br>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong>
                                Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong>
                                Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{%static 'images/acota2cajfxsjeihojup.png'%}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 card-title">
                                <h5>Fund Susan Collins' Future Opponent </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 card-title">
                                <p class="card-text text-justify">Created by Be A Hero</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 baseball-card__progress-bar">
                                <div class="baseball-card__progress-bar-fill"></div>
                            </div>
                        </div>
                        <br>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong>
                                Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong>
                                Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{%static 'images/acota2cajfxsjeihojup.png'%}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 card-title">
                                <h5>Fund Susan Collins' Future Opponent </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 card-title">
                                <p class="card-text text-justify">Created by Be A Hero</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 baseball-card__progress-bar">
                                <div class="baseball-card__progress-bar-fill"></div>
                            </div>
                        </div>
                        <br>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong>
                                Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong>
                                Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 campaign__part-button text-center">
                <a href="{% url 'start_campaign' %}">Start a campaign</a>
            </div>
        </div>
    </div>
</section>
<hr class="page-divider" />
<!---------------------------------- clint profile start ----------------------------->
<section id="team">
    <div class="container my-3 py-5 text-center">
        <div class="row mt-1">
            <div class="col-12 clint__part-head">
                <h1>Run for office</h1>
            </div>
        </div>
        <div class="row" style="padding-bottom: 1rem;">
            <div class="col-9 clint__sub-text m-auto">
                <p>Crowdpac is a free platform with zero startup or monthly costs. Potential candidates can raise no-risk pledges and declared candidates collect donations directly to their campaign</p>
            </div>
        </div>
        <div class="row clint__part-row mt-4">
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f067b604f733d2de02ffa44.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Martha Lugo</h3>
                        <p>Aurora,CO, Aurora City Council Ward III,Ward III,2021 spiente , earum</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>July 24,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f17e3c84f733d508624d3c5.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Emmanuel Estrada</h3>
                        <p>Candidate for Baldwin Pard, CA, Mayor, 2020 Primary <br> Election</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f18d2974f733d0b5220ad05.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Lee KaberLein</h3>
                        <p>San Bernardio County,CA, Yucaipa City Councilman, 3Rd District,2020<br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f2468c54f733d71df4e1765.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Alan Darnowsky</h3>
                        <p>OH, State Representative 65th District, 2020 <br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clint__part-row mt-4">
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f21c40b4f733d48583f9062.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Cylde Shabazz</h3>
                        <p>MI, U.S. Representative to Congress, 2020 <br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f1cdce94f733d35dc3df45d.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Jay Linginfelter</h3>
                        <p>Sumter, SC, School Board, 6th District, 2020 <br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f1cca094f733d372475caf3.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Andrew John</h3>
                        <p>VI, Senator, 2020 <br><br><br> </p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f1c5c564f733d2be7594d83.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Kelley Boyd</h3>
                        <p>Benton County, AR, Justice of the Peace, 10th District, <br> 2020</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clint__part-row mt-4">
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f1b3b4f4f733d79e645cd62.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Melanie DuPont</h3>
                        <p>Candidate for RI, State Senate, 22nd District, 2020 Primary Election</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f1afecb4f733d6fa35fa501.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Dan Kerner Andersson</h3>
                        <p>Candidate for SD, State Senate, 21st District, 2020 Primary Election<br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5f277ba94f733d76aa320812.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Keisha Nzewi</h3>
                        <p>Contra Costa County,CA, Mt.Diablo Unified School Board Member,Area 3 District, 2020</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 clint__card-cols">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{%static 'images/cand5c4548c96086d6130d1a815f.png'%}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Joe K Meyer</h3>
                        <p>OR, State House, 2020 <br><br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 clint__part-button text-center">
                <a href="{% url 'explore' %}">Explore campaigns</a>
            </div>
        </div>
    </div>
</section>
<hr class="page-divider" />
<!---------------------------------- clint profile end ----------------------------->
<!---------------------------------- banner part3 start here -------------------------->
<section class="banner__part3">
    <div class="container">
        <div class="row">
            <div class="col-12 banner__head-text3 m-auto text-center">
                <h5>Do you want to know everything first </h5>
            </div>
        </div>
        <hr class="banner__hr-3">
        <div class="row banner__last-row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-12 banner__text-top">
                        <h4>Subscribe To Our</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 banner__text-bottom">
                        <h4>NEWSLETTER</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="col-12 mt-4">
                    <form id="email-banner-subscribe-form">
                        <input class="banner__input" type="email" name="" placeholder="Email">
                        <button class="btn email__btn btn-primary btn-extralarge" type="#">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!----------------------------------raily part start here------------------------------->
<section class="vartual__campaign">
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-10 col-sm-11 m-auto">
                <div class="row">
                    <div class="col-12 vartual__head-text text-center">
                        <h4>Introducing The Virtual Campaign Rally</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 vartual__sub-text text-center">
                        <p>Drive donations to your existing Crowdpac campaign with a live stream.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7 vartual__img m-auto">
                <img src="{%static 'images/virtual-rally.png'%}">
            </div>
        </div>
        <div class="row">
            <div class="col-6 vartual__list m-auto">
                <ul>
                    <li><i class="fas vartual__icon fa-long-arrow-alt-right mr-2"></i>
                        Use your phone or audio/video equipment to launch a live stream.
                    </li>
                    <li><i class="fas vartual__icon fa-long-arrow-alt-right mr-2"></i>
                        High quality live stream powered by .
                    </li>
                    <li><i class="fas vartual__icon fa-long-arrow-alt-right mr-2"></i>
                        A one hour timeslot with quick donate buttons to boost donations.
                    </li>
                    <li><i class="fas vartual__icon fa-long-arrow-alt-right mr-2"></i>
                        24/7 stream booking timeslots when booked 24 hours in advance.
                    </li>
                    <li><i class="fas vartual__icon fa-long-arrow-alt-right mr-2"></i>
                        One flat rate of $250 with other options coming soon.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center vartula__button">
                <a href="{% url 'start_campaign' %}">Start a campaign</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 vartual__text-last text-center">
                <p>The Virtual Campaign Rally is available after campaign creation.</p>
            </div>
        </div>
    </div>
</section>
<!----------------------------------raily part end here------------------------------->
<!-------------------------------- container part start here -------------------------->
<section>
    <div class="container containers__part">
        <div class="row">
            <div class="col-12 containers__head text-center">
                <h3>Our Impact</h3>
                <hr class="impact-hr">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 m-auto text-center">
                <div class="row">
                    <div class="col-12 container__text1">
                        <h3>4,003</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 container__text1">
                        <p>Candidates have explored running</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 m-auto text-center">
                <div class="row">
                    <div class="col-12 container__text1">
                        <h3>320k</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 container__text1">
                        <p>Donors on Crowdpac</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 m-auto text-center">
                <div class="row">
                    <div class="col-12 container__text1">
                        <h3>46%</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 container__text1">
                        <p>of Candidates are Women</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 last__padding">
                <div class="row">
                    <div class="col-10 container__text2 m-auto text-center">
                        <p>"As a first-time candidate, making the decision to run for office would be a serious commitment given the costs of elections. The key was the ability to solicit pledged donations before deciding to run, something only Crowdpac can do. We raised $50,000 in the first 3 days. That’s how I knew I could run and have a good shot at winning.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 container__text3 text-center">
                        <p>Joseph Kopser </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 container__text3 text-center">
                        <p>Former Candidate for TX, 21st Congressional District, 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-------------------------------- container part start here -------------------------->
<!-------------------------------- language part start here -------------------------->
<section class="language__part">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6 m-auto">
                <div class="row">
                    <div class="col-12 language__item m-auto">
                        <a href="#">
                            <img src="{%static 'images/logo-nyt.png'%}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12 language__item">
                        <a href="#">
                            <img src="{%static 'images/logo-wsj.png'%}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12 language__item">
                        <a href="#">
                            <img src="{%static 'images/logo-ap.png'%}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12 language__item">
                        <a href="#">
                            <img src="{%static 'images/logo-cnn.png'%}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12 language__item">
                        <a href="#">
                            <img src="{%static 'images/logo-atlantic.png'%}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-12 language__item">
                        <a href="#">
                            <img src="{%static 'images/logo-buzzfeed.png'%}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------------------- language part end here -------------------------->
{% endblock container %}