{% extends 'header_footer.html' %} {% load static %} {% block title %} {% endblock title %} {% block container %}
<!--banner first part start here-->
<section class="banner-part">
    <div class="row">
        <div class="center-text">
            <p>Crowdpac empowers progressive candidates and movements to ignite change in our democracy. </p>
            <div class="banner-first-button">
                <a href="#">Start a campaign</a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="right-text">
            <h3 style="color:white">Our Mission</h3>
            <hr style="border-width: 3px 1px 0; border-style: solid; border-color: white; width: 9%;">
            <p>Crowdpac is committed to helping emerging leaders run for elected office by raising the funds they need to launch viable campaigns that are competitive from the moment they enter the political arena. </p>
            <div class="banner-second-button">
                <a href="#">learn more</a>
            </div>

        </div>
    </div>



</section>
<hr class="page-divider" />
<!-- banner first part end -->
<!-- banner second part start-->

<section class="banner-second-part">
    <div class="container banner2">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 first">
                <h4>We've made it easier than ever to find campaigns to support</h4>
                <div class="text-area-b2">
                    <p>Explore Crowdpac campaigns by popularity, percent to goal, state, issue, election year and more to find the campaigns and candidates you care about.</p>

                </div>
                <a href="#">explore campaign</a>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="image-bg">
                    <img src="{% static 'images/explore_homefeature_img_hip9q7.png' %}" alt="Light">
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="page-divider" />


<!--banner second part end here-->
<!--campaign part start  here-->
<section class="card-section">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-12 standard-content">
                <h3>Trending Campaigns</h3>
            </div>
            <div class="col-log-12">Fund and support campaigns raising money right now.</div>
        </div>
        <div class="row justify-content-center standard-row">
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{% static 'images/acota2cajfxsjeihojup.png' %}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Fund Susan Collins' Future Opponent </h5>
                        <p class="card-text text-justify">Created by Be A Hero</p>
                        <br>
                        <br>

                        <div class="baseball-card__progress-bar">
                            <div class="baseball-card__progress-bar-fill">

                            </div>
                        </div>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong> Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong> Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{% static 'images/j7tzhx5oijjdtrvfnbcs.png' %}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Kennedy for Massachusetts </h5>
                        <p class="card-text text-justify">Created by Be Greg mecher</p>
                        <br><br><br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{% static 'images/iizefpiztgn8bo2vindb.png' %}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">COVID-19 Fundraiser: Supporting Communities of Color </h5>
                        <p class="card-text text-justify">Created by Action together:zurich,ch</p>
                        <br>
                        <br>


                        <div class="baseball-card__progress-bar">
                            <div class="baseball-card__progress-bar-fill">

                            </div>
                        </div>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong> Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong> Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center standard-row">
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{% static 'images/wpecbzy77ppmcggexzh4.png' %}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Support Biden and Reject Hate|Young Leader for Biden </h5>
                        <p class="card-text text-justify">Created by Leiner</p>
                        <br>
                        <br>

                        <div class="baseball-card__progress-bar">
                            <div class="baseball-card__progress-bar-fill">

                            </div>
                        </div>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong> Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong> Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{% static 'images/i9birf3o4tsbyj4davox.png' %}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Phil Ehr- Navy Vetean taking on Matt Gaetz </h5>
                        <p class="card-text text-justify">Created by Brooke Ledesma</p>
                        <br>
                        <br>

                        <div class="baseball-card__progress-bar">
                            <div class="baseball-card__progress-bar-fill">

                            </div>
                        </div>
                        <div class="baseball-card__meta">
                            <div>
                                <strong>$4,124,792</strong> Raised
                            </div>
                            <div>
                                <strong>$4,124,792</strong> Donations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 std-cols">
                <div class="card border-1">
                    <div class="img-animation">
                        <img src="{% static 'images/gvmy4rgh6fkxr9jk0mnv.png' %}" alt="Card image cap" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Parents for Joe Biden </h5>
                        <p class="card-text text-justify">Created by </p>
                        <br><br><br><br><br>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center btn-section">
            <div class="col-lg-12 standard-content sp-collor"><a class="btn btn-secondary btn-large" href="#">Start a campaign</a></div>
        </div>
    </div>
</section>
<hr class="page-divider" />
<!--campaign part end here-->
<!--campaign part end here-->
<section id="team">
    <div class="container my-3 py-5 text-center">
        <div class="row mb-5">
            <div class="col">
                <h1>Run for office</h1>
                <p class="mt-3 sub-p">Crowdpac is a free platform with zero startup or monthly costs. Potential candidates can raise no-risk pledges and declared candidates collect donations directly to their campaign</p>
            </div>
        </div>
        <div class="row standard-row">
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f067b604f733d2de02ffa44.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Martha Lugo</h3>
                        <p>Aurora,CO, Aurora City Council Ward III,Ward III,2021 spiente , earum</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>July 24,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f17e3c84f733d508624d3c5.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Emmanuel Estrada</h3>
                        <p>Candidate for Baldwin Pard, CA, Mayor, 2020 Primary <br> Election</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f18d2974f733d0b5220ad05.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Lee KaberLein</h3>
                        <p>San Bernardio County,CA, Yucaipa City Councilman, 3Rd District,2020</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f2468c54f733d71df4e1765.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Alan Darnowsky</h3>
                        <p>OH, State Representative 65th District, 2020 <br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row standard-row">
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f21c40b4f733d48583f9062.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Cylde Shabazz</h3>
                        <p>MI, U.S. Representative to Congress, 2020 <br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f1cdce94f733d35dc3df45d.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Jay Linginfelter</h3>
                        <p>Sumter, SC, School Board, 6th District, 2020 <br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f1cca094f733d372475caf3.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Andrew John</h3>
                        <p>VI, Senator, 2020 <br><br><br> </p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f1c5c564f733d2be7594d83.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Kelley Boyd</h3>
                        <p>Benton County, AR, Justice of the Peace, 10th District, <br> 2020</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row standard-row">
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f1b3b4f4f733d79e645cd62.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Melanie DuPont</h3>
                        <p>Candidate for RI, State Senate, 22nd District, 2020 Primary Election</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f1afecb4f733d6fa35fa501.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Dan Kerner Andersson</h3>
                        <p>Candidate for SD, State Senate, 21st District, 2020 Primary Election</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5f277ba94f733d76aa320812.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Keisha Nzewi</h3>
                        <p>Contra Costa County,CA, Mt.Diablo Unified School Board Member,Area 3 District, 2020</p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 std-cols2">
                <div class="card">
                    <div class="card-body bubble-card">
                        <img src="{% static 'images/cand5c4548c96086d6130d1a815f.png' %}" alt="" class="img-fluid rounded-circle w-50 mb-3">
                        <h3>Joe K Meyer</h3>
                        <p>OR, State House, 2020 <br><br><br></p>
                        <div class="d-flex flex-row justify-content-center">
                            <div class="p-4 border-top 1">
                                <h6>Started</h6>
                                <p>August 1,2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center btn-section">
            <div class="col-lg-12 standard-content sp-collor"><a class="btn btn-secondary btn-large" href="#">Explore campaigns</a></div>
        </div>
    </div>
</section>
<hr class="page-divider" />
<!--campaign part start  here-->
<section class="banner-part-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="banner-contentx">
                    <h5>Do you want to know everything first </h5>
                    <hr class="email-hr white" noshade="">
                    <div class="flex-grid flex-grid--halves flex-grid--whole-on-mobile">
                        <div class="text-white">
                            <h4 class="cta-top">Subscribe To Our</h4>
                            <h3 class="cta-bottom">NEWSLETTER</h3>

                        </div>
                        <div class="email-signup-form-wrapper">
                            <form id="email-banner-subscribe-form">
                                <input class="input-on-bg" type="email" name="" placeholder="Email">
                                <button class="btn email-btn btn-primary btn-extralarge" type="#">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--campaign part end here-->
<!--campaign reaily part start here-->
<section class="rally">
    <div class="container">
        <div class="row">
            <div class="col-8 col-md-10 col-sm-11 m-auto">
                <div class="row heading-1st m-atuo">
                    <h4>Introducing The Virtual Campaign Rally</h4>
                    <p>Drive donations to your existing Crowdpac campaign with a live stream.</p>
                </div>
                <div class="row row-img">
                    <img src="{% static 'images/virtual-rally.png' %}">
                </div>
                <div class="row list-item-2nd">
                    <ul>
                        <li><i class="fas fa-location-arrow"></i>Use your phone or audio/video equipment to launch a live stream. </li>
                        <li><i class="fas fa-location-arrow"></i>High quality live stream powered by . </li>
                        <li><i class="fas fa-location-arrow"></i> A one hour timeslot with quick donate buttons to boost donations. </li>
                        <li><i class="fas fa-location-arrow"></i> 24/7 stream booking timeslots when booked 24 hours in advance. </li>
                        <li><i class="fas fa-location-arrow"></i>One flat rate of $250 with other options coming soon. </li>
                    </ul>
                </div>
                <div class="row justify-content-center btn-section">
                    <div class="col-lg-12 standard-content sp-collor"><a class="btn btn-secondary btn-large" href="#">Explore campaigns</a></div>
                </div>
                <div class="row heading-1st m-atuo">
                    <p>The Virtual Campaign Rally is available after campaign creation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container tb-container-last m-auto">
        <div class="row">
            <div class="col-12 last-heading">
                <h3>Our Impact</h3>
                <hr class="impact-hr">
            </div>
        </div>
        <div class="row m-auto">
            <div class="col-lg-4 col-md-6 col-sm-12 last-item">
                <h3>4,003</h3>
                <p>Candidates have explored running</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 last-item">
                <h3>320k</h3>
                <p>Donors on Crowdpac</p>
            </div>
            <div class="col-lg-4 col-md-6col-sm-12 last-item">
                <h3>46%</h3>
                <p>of Candidates are Women</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 last-content">
                <p>"As a first-time candidate, making the decision to run for office would be a serious commitment given the costs of elections. The key was the ability to solicit pledged donations before deciding to run, something only Crowdpac can do.
                    We raised $50,000 in the first 3 days. That’s how I knew I could run and have a good shot at winning.</p>
                <h5>Joseph Kopser </h5>
                <span>Former Candidate for TX, 21st Congressional District, 2018</span> "
            </div>
        </div>
    </div>
    </div>
</section>
<section class="page-content-well">
    <div class="container">
        <div class="row page-section page-content-container m-auto">
            <div class="col-lg-2 col-md-4 col-sm-6 img-last-bg">
                <a href="#">
						<img src="{% static 'images/logo-nyt.png' %}">
					</a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 img-last-bg">
                <a href="#">
						<img src="{% static 'images/logo-wsj.png' %} ">
					</a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 img-last-bg">
                <a href="#">
						<img src="{% static 'images/logo-ap.png' %}">
					</a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 img-last-bg">
                <a href="#">
						<img src="{% static 'images/logo-cnn.png' %} ">
					</a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 img-last-bg">
                <a href="#">
						<img src="{% static 'images/logo-atlantic.png' %}">
					</a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 img-last-bg">
                <a href="#">
						<img src="{% static 'images/logo-buzzfeed.png' %}">
					</a>
            </div>
        </div>
    </div>
</section>
<!--campaign teaily part end here-->
{% endblock container %}