{%load static%}
<div class="row" style="margin-top: 1rem">
    <div class="col mini-recipient__title">
        <label style="float: left;">Or, sign in with your email address</label>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="email" name="loginEmail" id="loginEmail" style="width: 100%" placeholder="Your Email Address">
    </div>
</div>
<div class="row" style="margin-top: 1rem">
    <div class="col mini-recipient__title">
        <label style="float: left;">Password </label>
        <a class="clsm" href="{% url 'remaind' %}" style="float: right;">
            Forgot?</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="password" name="loginPassword" id="loginPassword" style="width: 100%" placeholder="Your Password">
    </div>
</div>
<div class="row" style="margin-top: 2rem">
    <div class="col-6 offset-3">
        <button class="btnr red" type="submit" name="loginSubmit" id="loginSubmitButton" style="width: 100%">
            Login
        </button>
    </div>
</div>
<div class="row" style="margin-top: 1rem">
    <div class="col text-center mini-recipient">
        Don't have a Crowdpac account? <a class="rclst" href="#" onclick="showSignup()">Sign up.</a>
    </div>
</div>