{%extends "header_footer.html"%}
{%load static%}
{%block title%}
{%endblock title%}
{%block container%}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12">
            <div class="row" style="margin-top: 2rem">
                <div class="col text-center">
                    <h2 class="title2">
                        Media
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="bottom-line" style="border:2px solid black">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h7 class="mini-recipient__title text-uppercase">
                        Crowdpac in the News
                    </h7>
                </div>
            </div>
            <div class="row" style="margin-top:2rem">
                <div class="col">
                    <p class="mini-recipient">
                        Please direct all media inquiries to <a href="mailto:press@crowdpac.com" class="rclst">press@crowdpac.com</a>, and be sure to <a class="rclst" href="https://medium.com/@Crowdpac">check out our Crowdpac-generated editorial content here.</a>
                    </p>
                </div>
            </div>
            <!--News start-->
            <div class="row" style="margin-top: 1rem">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="mini-recipient">
                                <strong>How to Rage-Donate Against Chuck Grassley</strong>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="rclst" href="https://lifehacker.com/how-to-rage-donate-against-chuck-grassley-1829390249" style="font-size: 14px">
                                LifeHacker
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="bottom-line" style="border:2px solid black">
                </div>
            </div>
            <!--News end-->
            <!--Resource start-->
            <div class="row">
                <div class="col">
                    <span class="mini-recipient text-uppercase">
                        Resources
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top: 2rem">
                <div class="col">
                    <p class="mini-recipient">
                        Please direct all media inquiries to <a href="mailto:press@crowdpac.com" class="rclst">press@crowdpac.com.</a>
                    </p>
                    <p class="mini-recipient">
                        Photo - Crowdpac CEO and co-founder, Gisel Kordestani <a class="rclst" href="#">Web</a> <a class="rclst" href="#">Print</a><br>
                        Photo - Crowdpac Chief Data Scientist and co-founder, Adam Bonica <a class="rclst" href="#">Web</a> <a class="rclst" href="#">Print</a>
                    </p>
                    <p class="mini-recipient">
                    </p>
                    <p class="mini-recipient">
                        Logo: <a class="rclst" href="#">PNG</a><a class="rclst" href="#"> EPS</a>
                    </p>
                </div>
            </div>
            <!--resource end-->
        </div>
    </div>
</div> {%endblock container%}