{%load static%}
<div class="row">
	<div class="col text-center">
		<span class="mini-recipient">
			The Campaign
		</span>
	</div>
</div>
<div class="row" style="margin-top: .8rem">
	<div class="col text-center">
		<span class="title2">
			Optional settings
		</span>
	</div>
</div>
<div class="row" style="margin-top: 3rem">
	<div class="col">
		<div class="row">
			<div class="col">
				<label style="float: left;">Short URL</label>
				
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span class="mini-recipient" style="background: #F6F6F6;position: absolute;padding: 0.45rem;border: 1px solid #ced4da;">
					crowdpac.com/c/
				</span>
				<input type="text" name="Short URL" id="Short_URL_id" style="width: 100%;padding-left: 8.5rem;" placeholder="E.g. Former Marine to Reform VA">
			</div>
		</div>
		
	</div>
</div>
<div class="row" style="margin-top: 3rem">
	<div class="col">
		<div class="row">
			<div class="col">
				<label style="float: left;">Issues</label>
				
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span class="mini-recipient" >
					Let donors know what you care about by tagging your campaign with up to 5 issues.
				</span>
			</div>
		</div>
		
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-4 text-center" style="height: 100%;margin-top: 1rem">
		<button class="btnr btnr-tags-optional">Campaign Finance Reform</button>
	</div>
	
</div>
<div class="row" style="margin-top: 1rem">
	<div class="col">
		<div class="row">
			<div class="col">
				<input type="text" name="Short URL" id="Short_URL_id" class="form-control" placeholder="+ Add your own">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span class="mini-recipient">
					0/5 selected
				</span>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 3rem">
	<div class="col">
		<div class="row">
			<div class="col">
				<label class="mini-recipient__title" style="float: left;">
				Custom Tracking IDs</label>
				
			</div>
		</div>
		<div class="row">
			<div class="col mini-recipient">
				You can use these tracking IDs along with your Google Analytics account or Google AdWords, Facebook and Twitter advertising accounts. Events will fire when a supporter lands on your campaign through to a successful donation.
			</div>
		</div>
		<div class="row" style="margin-top: 0.8rem">
			<div class="col">
				
				<div class="mini-recipient custom-tracking">
					Facebook
				</div>
				
				
				<input type="text" name="Facebook" id="Facebook_id" class="custom-tracking-text" placeholder="E.g. 123456789012345">
			</div>
		</div>
		<div class="row" style="margin-top: 0.8rem">
			<div class="col">
				<div class="mini-recipient custom-tracking">
					Google Ads Conversion ID
				</div>
				<input type="text" name="Google_Ads_Conversion_ID" id="Google_Ads_Conversion_ID_id" class="custom-tracking-text" placeholder="E.g. AW-XXXXXXX">
			</div>
		</div>
		<div class="row" style="margin-top: 0.8rem">
			<div class="col">
				<div class="mini-recipient custom-tracking">
					Google Ads Conversion Label
				</div>
				<input type="text" name="Google_Ads_Conversion_Label" id="Google_Ads_Conversion_Label_id" class="custom-tracking-text" placeholder="E.g. aBC1JzbypIBEJ7Mj8sD">
			</div>
		</div>
		<div class="row" style="margin-top: 0.8rem">
			<div class="col">
				<div class="mini-recipient custom-tracking">
					Google Analytics
				</div>
				<input type="text" name="Google_Analytics" id="Google_Analytics_id" class="custom-tracking-text" placeholder="E.g. UA-XXXXX-Y">
			</div>
		</div>
		<div class="row" style="margin-top: 0.8rem">
			<div class="col">
				<div class="mini-recipient custom-tracking">
					Twitter
				</div>
				<input class="custom-tracking-text" type="text" name="Twitter" id="Twitter_id" placeholder="E.g. abc9z">
			</div>
		</div>
		<div class="row" style="margin-top: 0.8rem">
			<div class="col">
				<span class="mini-recipient" style="font-size: 12px">
					Only enter the tracking ID here - this will not work if you enter the entire embed code. For more information, refer to the provider’s documentation.
				</span>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 6rem">
	<div class="col text-center">
		<button type="button" class="btnr red campaigns">
		Save and continue
		</button>
	</div>
</div>
<div class="row" style="margin-top: 1rem">
	<div class="col text-center">
		<a href="#" class="rclst">
			Continue without saving
		</a>
	</div>
</div>