{% load static %}

<div class="row">
    <div class="col-sm-10 offset-sm-1">
        <h2 class="title2">Petitions Spark Change.</h2>
        <br>
    </div>
</div>
{% for i in data %}
<div class="main">
    <div class="row">
        <div class="col-sm-8">
            {% with 'images/'|add:i.reporter_pro_pic as pro_pic %}
            <img src="{% static pro_pic %} " style="border-radius: 50%; float: left"> {% endwith %}
            <h2 class="mini-recipient__title" style="margin-top: 1rem;padding-left:4rem;margin-left:1rem">{{i.reporter_name}} </h2>
            <h2 class="mini-recipient nbsp_v">{{i.date}}</h2>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col">
            <h2 class="social-feed-post-title">
                {{i.title}}
            </h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            {% with 'images/'|add:i.image as cover_pic %}
            <img src="{% static cover_pic %} " class="img-fluid"> {% endwith%}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{i.details}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% with i.view_url as link %}
            <a class="social-feed-post-link rcls" href="{% url link %}">
				View Petition
			</a> {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <br>
            <img src="{% static 'svg/button.svg' %} " class="post-action-button primary" style="float: left;margin-top: -2%;">
            <span style="nbsp_v">{{i.signeture_count}}</span>
        </div>


    </div>
</div>
<div class="row row-padding-bottom">
</div>
{% endfor %}