{%load static%}
<div class="row">
    <div class="col text-center">
        <span class="mini-recipient">
            The Campaign
        </span>
    </div>
</div>
<div class="row" style="margin-top: .8rem">
    <div class="col text-center">
        <span class="title2">
            Set your campaign privacy
        </span>
    </div>
</div>
<div class="row" style="margin-top: .8rem">
    <div class="col text-center">
        <h5 style="font-weight: normal">
            Choose who can view your campaign.
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 text-center" style="margin-top: 3rem">
        <div class="card" id="privacy_public" style="width: 100%;cursor: pointer;height: 100%">
            <div class="card-body">
                <img src="{%static 'images/privacy-public' %}">
                <h3 style="color: #FF4814;margin-top: .8rem">Public
                </h3>
                <p>Your campaign will be publicly listed on Crowdpac. Donors can easily find you in search results, race pages, and through social media.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 text-center" style="margin-top: 3rem">
        <div class="card" id="privacy_private" style="width: 100%;cursor: pointer;height: 100%">
            <div class="card-body">
                <img src="{%static 'images/privacy-private' %}">
                <h3 style="color: #FF4814;margin-top: .8rem">Private
                </h3>
                <p>Your campaign will only be available for people with the link. It will not be listed anywhere on Crowdpac, and donors cannot share your campaign.</p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 6rem">
    <div class="col text-center">
        <button type="button" id="privacy_save_button" class="btnr red campaigns disable" >
            Save and continue
        </button>
    </div>
</div>
<div class="row" style="margin-top: 1rem">
    <div class="col text-center">
        <a href="#" class="rclst" onclick="tab_pages('Custom_Sharing')">
            Continue without saving
        </a>
    </div>
</div>
<script type="text/javascript">
// Get the container element
//var divContainer = document.getElementById("card_section_recipients");
// Get all buttons with class="btn" inside the container
var cards = document.getElementsByClassName("card");
// Loop through the buttons and add the active class to the current/clicked button
var privacy_type="";
for (var i = 0; i < cards.length; i++) {
    cards[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("card_active");
        // If there's no active class
        if (current.length > 0) {
            current[0].className = current[0].className.replace(" card_active", "");
        }
        // Add the active class to the current/clicked button
        this.className += " card_active";
        if(this.id==="privacy_public"||this.id==="privacy_private")
        {
            privacy_type=this.id;
            $("#privacy_save_button").removeClass("disable")
        }
    });
}
$("#privacy_save_button").on('click',function(){
    $.ajax({
        type:"GET",
        url:"{% url 'start_campaign' %}",
        data:{
            "privacy_type":privacy_type,
        },
        success:function(response)
        {
            tab_pages('Custom_Sharing');
        }
    });
});
</script>