{% extends "header_footer.html" %}
{% load static %}
{% block title %}
<title>Innovative Fundraising on Crowdpac | Crowdpac</title>
{% endblock title %}
{% block container %}
		<!---------------------------banner first part start here-------------------------->
		<section class="banner__part-promote">
			<div class="row">
				<div class="col-11 m-auto head__padding-promote">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 m-auto">
							<div class="row">
								<div class="col-12 banner__head-text1">
									<p>Innovative</p>
								</div>
							</div>
							<div class="row">
								<div class="col-12 banner__head-text-promote">
									<p>Fundraising on</p>
								</div>
							</div>
							<div class="row">
								<div class="col-12 banner__head-text-promote">
									<p>Crowdpac</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-------------- banner first part end ------------>
		<!--------- Service part start ------------------->
		
		<!---------------service part end here------------------->
		<!--------header part2 start here-------------->
		<section>
			<div class="row">
				<div class="col-11 m-auto service__part-first-p">
					<div class="row">
						<div class="col-lg-8 col-md-12 col-sm-12 text-center promote__service-first-header m-auto">
							<p>Learn how you can promote your cause on Crowdpac</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8 col-md-12 col-sm-11 text-center m-auto promote__service-body-first-text">
							<p>Crowdpac’s innovative fundraising campaigns give you the power to make meaningful change. From encouraging a member of Congress to listen to their constituents to drafting your PTA president to run for school board, you have the power to take your activism to the next level while inspiring the next generation of changemakers.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 order-sm-2 order-md-1">
							<div class="row">
								<div class="col-10 promote__service-body-head-text2 m-auto">
									<h4>Support</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Hit the ground running by raising funds directly for a candidate or cause that you feel strongly about.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Whether it's crowdfunding your own candidacy, supporting a slate of candidates and organizations, or selling merchandise to meet a campaign milestone, you can raise the funds you need to reach your fundraising goals.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 m-auto">
									<div class="row">
										<div class=" col-lg-12 col-md-12 col-sm-12 banner__button-head_promote">
											<a href="{% url 'campaign_create_conditional' %}">Start a Support Campaign</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 order-sm-1 order-md-2">
							<div class="row">
								<div class="col-11 m-auto">
									<img src="{%static 'images/bgrh1ov62waa0its5pkc.png'%}" style="width: 100%;">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<section class="promote__service-2nd-part">
			<div class="row">
				<div class="col-11 m-auto promote__service-part-2nd-p">
					<div class="row">
						
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="row">
								<div class="col-11 m-auto">
									<img src="{%static 'images/z4dnpdvrg02qkqwom18p.png'%}" style="width: 100%;">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="row">
								<div class="col-10 promote__service-body-head-text2 m-auto">
									<h4>Explore</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Crowdpac’s Explore tools allow anyone to test a run for office before declaring their candidacy. </p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>It could be a local, state or federal seat, even President; explore campaigns give you the opportunity to decide if you’re ready to run. Test the waters and your financial viability as a candidate before officially throwing your hat into the ring. Supporters’ cards will only be charged if and when you choose to declare. </p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 m-auto">
									<div class="row">
										<div class=" col-lg-12 col-md-12 col-sm-12 banner__button-head_promote">
											<a href="{% url 'campaign_create_conditional' %}">Start an Explore Campaign</a>
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<!--------------------------------header part2 end here------------------------------->
		<section>
			<div class="row">
				<div class="col-11 m-auto service__part-first-p">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 order-md-1 order-sm-2">
							<div class="row">
								<div class="col-10 promote__service-body-head-text2 m-auto">
									<h4>Draft</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Encourage someone to run for office by starting a draft campaign to show them they’ll have donors-in-waiting if and when they enter the race.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Whether you’re drafting Stacey Abrams to run for president or your PTA president to run for school board, a draft campaign shows your dream candidate that they’ll have support if they choose to run. Supporters’ pledges convert to donations if the potential candidate chooses to declare their candidacy.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 m-auto">
									<div class="row">
										<div class=" col-lg-12 col-md-12 col-sm-12 banner__button-head_promote">
											<a href="{% url 'campaign_create_conditional' %}">Start a Draft Campaign</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 order-md-2 order-sm-1">
							<div class="row">
								<div class="col-11 m-auto">
									<img src="{%static 'images/vewa0mcyfz8ulbaoonul.png'%}" style="width: 100%;">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<section class="promote__service-2nd-part">
			<div class="row">
				<div class="col-11 m-auto promote__service-part-2nd-p">
					<div class="row">
						
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="row">
								<div class="col-11 m-auto">
									<img src="{%static 'images/vgr75wgho8mkulmjlxyi.png'%}" style="width: 100%;">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="row">
								<div class="col-10 promote__service-body-head-text2 m-auto">
									<h4>Oppose</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Raise funds against a politician who you believe to be on the wrong side of an issue and in support of their next challenger. </p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Opposition funds allow you to send a message: we’re ready for your future opponent, whoever they may be. Whether it’s for the President, a member of Congress or a locally elected official, you have the ability to say enough is enough. </p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 m-auto">
									<div class="row">
										<div class=" col-lg-12 col-md-12 col-sm-12 banner__button-head_promote">
											<a href="{% url 'campaign_create_conditional' %}">Start an Opposition Campaign</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<section>
			<div class="row">
				<div class="col-11 m-auto service__part-first-p">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 ">
							<div class="row">
								<div class="col-10 promote__service-body-head-text2 m-auto">
									<h4>Pressure</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Pressure campaigns give people the power to challenge an institution. </p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>They force an elected official to look in their constituents’ direction rather than a lobbyist or party leader. They give students the platform to advocate for their rights at a university. Whatever the cause, pressure campaigns give a voice to those that are left unheard. You collect pledges that convert to donations if the conditions of the campaign go unmet. </p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 m-auto">
									<div class="row">
										<div class=" col-lg-12 col-md-12 col-sm-12 banner__button-head_promote">
											<a href="{% url 'campaign_create_conditional' %}">Start a Pressure Campaign</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 o">
							<div class="row">
								<div class="col-11 m-auto">
									<img src="{%static 'images/w3uaxbyhlrozqlhcbngf.png'%}" style="width:100%;">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<section class="promote__service-2nd-part">
			<div class="row">
				<div class="col-11 m-auto promote__service-part-2nd-p">
					<div class="row">
						
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="row">
								<div class="col-11 m-auto">
									<img src="{%static 'images/ehkphuqoxone8tz0w1eb.png'%}" style="width: 100%;">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="row">
								<div class="col-10 promote__service-body-head-text2 m-auto">
									<h4>Match</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Donors love a challenge. Give them one under a specific condition: if they meet a certain dollar amount or goal in a set amount of time, their pledges will be matched and convert to donations.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 promote__service-body-first-text2 m-auto">
									<p>Our team will help you make sure that your matching campaign is set within the guidelines of the conditions to be met.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-10 m-auto">
									<div class="row">
										<div class=" col-lg-12 col-md-12 col-sm-12 banner__button-head_promote">
											<a href="{% url 'campaign_create_conditional' %}">Start a March Campaign</a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<section class="slider__promote">
			<div class="row">
				<div class="col-10 m-auto slide__top-bottom-padding">
					<div class="row">
						<div class="col-8 text-center slider__head-text m-auto">
							<h2>See how our Innovative Fundraising tools helped these campaigns</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-9 m-auto">
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
									<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<div class="row">
											<div class="col-lg-9 col-md-12 col-sm-12 background-image__image" >
												<div class="text__box" style="width: 100%; height: 100vh;">
													<div class="text_area">
														<div class="row">
															<div class="col-12">
																<h2 style="color: #FF4814">Draft</h2>
															</div>
														</div>
														<div class="row">
															<div class="col-12">
																<p>A “Draft State Senator Jennifer Wexton” campaign went viral on Crowdpac after donors made financial pledges urging Wexton to take on Representative Barbara Comstock for Virginia’s 10th Congressional District. Less than 24 hours after Wexton officially declared her candidacy, the district went from Lean Republican to Toss Up, and she went on to flip a GOP stronghold.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-12 col-sm-12">
												
												
											</div>
										</div>
									</div>
									<div class="carousel-item">
										<div class="row">
											<div class="col-9 background-image__image1" >
												<div class="text__box" style="width: 100%; height: 100vh;">
													<div class="text_area">
														<div class="row">
															<div class="col-12">
																<h2 style="color:#FF4814">Explore</h2>
															</div>
														</div>
														<div class="row">
															<div class="col-12">
																<p>Before she was the youngest black woman to ever serve in Congress, Lauren Underwood was a registered nurse ready to take on her Republican Representative Randy Hultgren, who broke his promise and voted for the GOP healthcare plan. She raised close to $28,000 in pledges before officially entering the race.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-3">
												
												
											</div>
										</div>
									</div>
									<div class="carousel-item">
										<div class="row">
											<div class="col-9 background-image__image2" >
												<div class="text__box" style="width: 100%; height: 100vh;">
													<div class="text_area">
														<div class="row">
															<div class="col-12">
																<h2 style="color:#FF4814">Oppose</h2>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<p>After Senator Chuck Grassley’s behavior during the Christine Blassey-Ford testimony, activist Ady Barkan and the Be a Hero team started an opposition fund with a clear message: “Will you fight back against rape culture in the Senate by contributing to fund Senator Chuck Grassley’s future Democratic opponent NOW, and help us match his $1,078,202 from lobbyists?”</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-3">
											</div>
										</div>
									</div>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--------------------------------header part2 end here------------------------------->
{%endblock container%}