{% extends 'header_footer.html' %} {% load static %}
{% block title %}
<script src="{%static 'js/chosen.jquery.min.js'%}"></script>
<link href="{%static 'css/chosen.min.css'%}" rel="stylesheet" />
<title> Feed | Crowdpac </title>
{% endblock title %} {% block container %}
<!--Body grid system start-->
<div class="container-fluid">
    <div class="row rmargin-top">
        <!--Left Sidebar Start-->
        <div class='col-2 offset-lg-1' id="left">
            <div class="row sticky-top">
                <div class="col-12">
                    <a href="#campaigns_tab/" class="rcls">
                        <div class="row" id="campaigns_tab" style="background:#FFE3DA;color:#ff4814 " onClick="tabclick(this.id)">
                            <div class="col">
                                <div class="row">
                                    <img src="{% static 'svg/explore.svg' %}">
                                    <span class="right-sidebar-menu-title">Campaigns</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#news_tab/" class="rcls">
                        <div class="row" id="news_tab" onClick="tabclick(this.id)">
                            <div class="col">
                                <div class="row">
                                    <img src="{% static 'svg/news.svg' %}">
                                    <span class="right-sidebar-menu-title">News</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#crowdpac_tv_tab/" class="rcls">
                        <div class="row" id="crowdpac_tv_tab" onClick="tabclick(this.id)">
                            <div class="col">
                                <div class="row">
                                    <img src="{% static 'svg/crowdpacTV.svg' %}">
                                    <span class="right-sidebar-menu-title">Crowdpac TV</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#petitions_tab/" class="rcls">
                        <div class="row" id="petitions_tab" onClick="tabclick(this.id)">
                            <div class="col">
                                <div class="row">
                                    <img src="{% static 'svg/petition.svg' %}">
                                    <span class="right-sidebar-menu-title">Petitions</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#members_tab/" class="rcls">
                        <div class="row" id="members_tab" onClick="tabclick(this.id)">
                            <div class="col">
                                <div class="row">
                                    <img src="{% static 'svg/member.svg' %}">
                                    <span class="right-sidebar-menu-title">Members</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--left Sidebar End-->
        <!--Center Content Start-->
        <div class='col-md-7 col-lg-6 col-10'>
            <div id="campaigns_content">
                {% include 'explore.html' %}
            </div>
            <div id="news_content">
                {% include 'news_content.html' %}
            </div>
            <div id="crowdpac_tv_content">
                {% include 'crowdpac_tv.html' %}
            </div>
            <div id="petition_content">
                {% include 'petitions.html' %}
            </div>
            <div id="members_content">
                {% include 'members.html' %}
            </div>
        </div>
        <!--Center Content End-->
        <!--Right Sidebar start-->
        <div class='col-2' id="right">
            <div class="sticky-top">
                <div id="campaigns_tab_right">
                    {% include 'explore_right.html' %}
                </div>
                <!--News Right content start-->
                <div id="news_tab_right">
                    <div class="row text-center ">
                        <div class="col-sm-6 offset-sm-2">
                            <img src="{% static 'svg/newsRight.svg' %} ">
                        </div>
                    </div>
                    <div class="row title3 text-center" style="font-size:30px">
                        Always Current
                    </div>
                    <div class="row">
                        <hr class="line-bottom">
                    </div>
                    <div class="row">
                        Trending national & local political news.
                    </div>
                </div>
                <!--News Right content end-->
                <!--crowdpac-tv Right content start-->
                <div id="crowdpac_tv_tab_right">
                    <div class="row text-center ">
                        <div class="col-sm-6 offset-sm-2">
                            <img src="{% static 'svg/crowdpacTVRight.svg' %} ">
                        </div>
                    </div>
                    <div class="row title3 text-center">
                        How It Works<br>
                    </div>
                    <div class="row">
                        <hr class="line-bottom">
                    </div>
                    <div class="row">
                        <span class="step-number">1</span>
                        <span class="header-label">Register for Rally</span>
                    </div>
                    <div class="row step-gap">
                        <span class="step-number">2</span>
                        <span class="header-label">Rally Goes Live
                        </span>
                    </div>
                    <div class="row step-gap">
                        <span class="step-number">3</span>
                        <span class="header-label">Collect Donations</span>
                    </div>
                    <div class="row step-gap">
                        <span class="step-number">4</span>
                        <span class="header-label">Hold Virtual Q/A </span>
                    </div>
                    <div class="row">
                        <hr class="line-bottom">
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="rcls btnr" href="{% url 'start_rally' %}" style="width:100%">Start A Rally</a>
                        </div>
                    </div>
                </div>
                <!--crowdpac tv Right content end-->
                <!--Petitions Right content start-->
                <div id="petitions_tab_right">
                    <div class="row text-center ">
                        <div class="col-sm-6 offset-sm-2">
                            <img src="{% static 'svg/document.svg' %} ">
                        </div>
                    </div>
                    <div class="row title3 text-center">
                        How It Works<br>
                    </div>
                    <div class="row">
                        <hr class="line-bottom">
                    </div>
                    <div class="row">
                        <span class="step-number">1</span>
                        <span class="header-label">Create Petition</span>
                    </div>
                    <div class="row step-gap">
                        <span class="step-number">2</span>
                        <span class="header-label">Petition Goes Live
                        </span>
                    </div>
                    <div class="row step-gap">
                        <span class="step-number">3</span>
                        <span class="header-label">Collect Signatures</span>
                    </div>
                    <div class="row step-gap">
                        <span class="step-number">4</span>
                        <span class="header-label">Email Your Petition</span>
                    </div>
                    <div class="row">
                        <hr class="line-bottom">
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'start_petition' %}" class="rcls btnr" style="width: 100%">Start a Petition</a>
                        </div>
                    </div>
                </div>
                <!--Petitions Right content end-->
                <!--member_tab Right content Start-->
                <div id="members_tab_right">
                    {% if login == "True" %}
                    <div class="row text-center ">
                        <div class="col-sm-6 offset-sm-2">
                            <img src="{% static 'svg/memberRight.svg' %} ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <span class="title3 ">Connect</span>
                        </div>
                    </div>
                    <div class="row">
                        <hr class="line-bottom">
                    </div>
                    <div class="row">
                        <div class="col">
                            Search members by name or political issues.
                        </div>
                    </div>
                    <form class="text-center">
                        <div class="form-group">
                            <label for="labelSearch">Search</label>
                            <input type="text" class="form-control" id="searchMember" placeholder="Name" onkeyup="fiterMemberFunction()">
                        </div>
                        <div class="form-group">
                            <label>Filter</label>
                            <select data-placeholder="Political Issues" multiple class="chosen-select" name="test">
                                <option value=""></option>
                                <option value="tag-1">Campaign Finance Reform</option>
                                <option value="tag-2">Civil Rights</option>
                                <option value="tag-3">Climate Change</option>
                                <option value="tag-4">Criminal Justice Reform</option>
                                <option value="tag-5">Environment</option>
                                <option value="tag-6">Gender Equality</option>
                                <option value="tag-7">Gun Safety</option>
                                <option value="tag-8">Health Care</option>
                                <option value="tag-9">Immigration Reform</option>
                                <option value="tag-10">Income Inequality</option>
                                <option value="tag-11">International Diplomacy</option>
                                <option value="tag-12">Internet Policy</option>
                                <option value="tag-13">LGBTQ Rights</option>
                                <option value="tag-14">Marijuana Legalization</option>
                                <option value="tag-15">Pro Choice</option>
                                <option value="tag-16">Public Education</option>
                                <option value="tag-17">Transport Infrastructure</option>
                                <option value="tag-18">Union Rights</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="labelAddFriend">Don't see your friends ?</label>
                            <button type="button" class="btnr green" data-toggle="modal" data-target="#modal-share" data-title="Invite Members Directly or with Your Social Networks! "><i class="far fa-user"></i>Invite Members</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <!--member_tab Right content end-->
            </div>
        </div>
        <!--Right Sidebar end-->
    </div>
</div>
{% include "popups.html" %}
<script>
$('#modal-share').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget)
    var title = button.data('title')
    var modal = $(this)
    modal.find('#share_title').text(title)
})
</script>
<script>
if (window.location.hash === '#news_tab/') {
    //alert("message?: DOMString")
    tabclick("news_tab");
}
if (window.location.hash === '#crowdpac_tv_tab/') {
    //alert("message?: DOMString")
    tabclick("crowdpac_tv_tab");
}
if (window.location.hash === '#petitions_tab/') {
    //alert("message?: DOMString")
    tabclick("petitions_tab");
}
if (window.location.hash === '#members_tab/') {
    //alert("message?: DOMString")
    tabclick("members_tab");
}
if (window.location.hash === '#campaigns_tab/') {
    //alert("message?: DOMString")
    tabclick("campaigns_tab");
}
$(".chosen-select").chosen({ width: "100%" })

function tabclick(clicked_id) {

    campaigns_id = document.getElementById('campaigns_tab')
    news_id = document.getElementById('news_tab');
    tv_id = document.getElementById('crowdpac_tv_tab');
    petition_id = document.getElementById('petitions_tab');
    member_id = document.getElementById('members_tab');

    campaigns_content_id = document.getElementById('campaigns_content')
    news_content_id = document.getElementById("news_content");
    crowdpac_tv_content_id = document.getElementById("crowdpac_tv_content");
    petition_content_id = document.getElementById("petition_content");
    members_content_id = document.getElementById("members_content");

    campaigns_id_right = document.getElementById('campaigns_tab_right')
    news_id_right = document.getElementById('news_tab_right');
    tv_id_right = document.getElementById('crowdpac_tv_tab_right');
    petition_id_right = document.getElementById('petitions_tab_right');
    member_id_right = document.getElementById('members_tab_right');


    if (clicked_id == document.getElementById('campaigns_tab').id) {
        campaigns_id.style.cssText = "background:#FFE3DA;color:#ff4814";
        news_id.style.cssText = "background:none;color:none";
        tv_id.style.cssText = "background:none;color:none";
        petition_id.style.cssText = "background:none;color:none";
        member_id.style.cssText = "background:none;color:none";

        campaigns_content_id.style.display = "block";
        news_content_id.style.display = "none";
        crowdpac_tv_content_id.style.display = "none"
        petition_content_id.style.display = "none"
        members_content_id.style.display = "none"

        campaigns_id_right.style.display = "block";
        news_id_right.style.display = "none";
        tv_id_right.style.display = "none";
        petition_id_right.style.display = "none";
        member_id_right.style.display = "none";
    } else if (clicked_id == document.getElementById('news_tab').id) {

        campaigns_id.style.cssText = "background:none;color:none";
        news_id.style.cssText = "background:#FFE3DA;color:#ff4814";
        tv_id.style.cssText = "background:none;color:none";
        petition_id.style.cssText = "background:none;color:none";
        member_id.style.cssText = "background:none;color:none";

        campaigns_content_id.style.display = "none";
        news_content_id.style.display = "block";
        crowdpac_tv_content_id.style.display = "none"
        petition_content_id.style.display = "none"
        members_content_id.style.display = "none"

        campaigns_id_right.style.display = "none";
        news_id_right.style.display = "block";
        tv_id_right.style.display = "none";
        petition_id_right.style.display = "none";
        member_id_right.style.display = "none";
    } else if (clicked_id == document.getElementById('crowdpac_tv_tab').id) {

        campaigns_id.style.cssText = "background:none;color:none"
        news_id.style.cssText = "background:none;color:none";
        tv_id.style.cssText = "background:#FFE3DA;color:#ff4814";
        petition_id.style.cssText = "background:none;color:none";
        member_id.style.cssText = "background:none;color:none";

        campaigns_content_id.style.display = "none";
        news_content_id.style.display = "none";
        crowdpac_tv_content_id.style.display = "block"
        petition_content_id.style.display = "none"
        members_content_id.style.display = "none"

        campaigns_id_right.style.display = "none";
        news_id_right.style.display = "none";
        tv_id_right.style.display = "block";
        petition_id_right.style.display = "none";
        member_id_right.style.display = "none";
    } else if (clicked_id == document.getElementById('petitions_tab').id) {

        campaigns_id.style.cssText = "background:none;color:none"
        news_id.style.cssText = "background:none;color:none";
        tv_id.style.cssText = "background:none;color:none";
        petition_id.style.cssText = "background:#FFE3DA;color:#ff4814";
        member_id.style.cssText = "background:none;color:none";

        campaigns_content_id.style.display = "none";
        news_content_id.style.display = "none";
        crowdpac_tv_content_id.style.display = "none"
        petition_content_id.style.display = "block"
        members_content_id.style.display = "none"

        campaigns_id_right.style.display = "none";
        news_id_right.style.display = "none";
        tv_id_right.style.display = "none";
        petition_id_right.style.display = "block";
        member_id_right.style.display = "none";
    } else if (clicked_id == document.getElementById('members_tab').id) {
        var a = "{{login}}";
        if (a == "True") {

            campaigns_id.style.cssText = "background:none;color:none"
            news_id.style.cssText = "background:none;color:none";
            tv_id.style.cssText = "background:none;color:none";
            petition_id.style.cssText = "background:none;color:none";
            member_id.style.cssText = "background:#FFE3DA;color:#ff4814";

            campaigns_content_id.style.display = "none";
            news_content_id.style.display = "none";
            crowdpac_tv_content_id.style.display = "none"
            petition_content_id.style.display = "none"
            members_content_id.style.display = "block"

            campaigns_id_right.style.display = "none";
            news_id_right.style.display = "none";
            tv_id_right.style.display = "none";
            petition_id_right.style.display = "none";
            member_id_right.style.display = "block";
        } else {
            location.href = "{% url 'signin'%}";
        }
    }
}
</script>
<!--Body grid system end-->
{% endblock container %}