{% extends 'header_footer.html' %}
{%load static%}
{%block title%}
<link rel="stylesheet" type="text/css" href="{%static 'css/tagsinput.css'%}">
<script src="//cdn.ckeditor.com/4.14.1/basic/ckeditor.js"></script>
<title>Create your campaign | Crowdpac</title>
{%endblock title%}
{%block container%}
<div class="container-fluid">
    <div class="row">
        {% csrf_token %}
        <div class="col-md-3" id="campaign_left" style="padding-top: 1rem;box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.2);">
            <div class="row" style="background: #F6F6F6;padding-top: 1rem">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="badge badge-secondary rcls" style="color:white">
                                Unpublished
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if context.campaign_title and context.campaign_title.strip %}
                                <h5 style="font-weight: 400" id="campaign_title">{{context.campaign_title}}</h5>
                            {% else %}
                                <h5 style="font-weight: 400" id="campaign_title">Untitled Campaign</h5>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div id="campaign_pro_preview" style="display: none">
                        <div class="row">
                            <div class="col">
                                {%if context.pro_pic != "none" %}
                                {% with context.pro_pic as pro_pic %}
                                <img id="pro_image" src="{% static pro_pic %}" style="border-radius: 75%;border:3px solid #E6E6E6;width: 40px;height: 40px;display: none" alt="propic">
                                {% endwith %}
                                {% else %}
                                <span id="pro_data_letter" style="margin-top: 0px;display:none" data-letters="{{context.data_letters}}">
                                </span>
                                <span id="pro_name">
                                    {{context.name}}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem;padding-bottom: 1rem">
                        <div class="col">
                            <button type="button" class="btnr red" style="height: 100%" data-toggle="modal" data-target="#modal-campaign-preview">
                                Preview
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btnr float-right">
                                Save & Exit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row" style="margin-top: 1rem">
                        <div class="col mini-recipient">
                            <span>The Basics</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Campaign_Recipients" onClick="tab_pages(this.id)" style="font-weight: bold">Campaign Recipients </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Candidate_Info" onClick="tab_pages(this.id)" style="display: none"> Candidate Info</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Race_Info" onClick="tab_pages(this.id)" style="display: none"> Race Info </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr class="line-bottom">
            </div>
            <div class="row">
                <div class="col">
                    <div class="row" style="margin-top: 1rem">
                        <div class="col mini-recipient">
                            <span>The Campaign</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Campaign_Story" onClick="tab_pages(this.id)">Campaign Story </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Fundraising" onClick="tab_pages(this.id)">Fundraising </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Privacy_Settings" onClick="tab_pages(this.id)">Privacy Settings </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Custom_Sharing" onClick="tab_pages(this.id)">Custom Sharing </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Campaign_Marketing" onClick="tab_pages(this.id)">Campaign Marketing
                            </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Optional_Settings" onClick="tab_pages(this.id)" style="text-decoration-color: #ff4814">Optional Settings </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <hr class="line-bottom">
            </div>
            <div class="row">
                <div class="col">
                    <div class="row" style="margin-top: 1rem">
                        <div class="col mini-recipient">
                            <span>Review</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Publish_Your_Campaign" onClick="tab_pages(this.id)">Publish Your Campaign </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr class="line-bottom">
            </div>
            <div class="row">
                <div class="col">
                    <div class="row" style="margin-top: 1rem">
                        <div class="col mini-recipient">
                            <span>Need Help?</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1rem">
                        <div class="col">
                            <a href="#" class="rclst" id="Contact_Support" onClick="tab_pages(this.id)">Contact Support </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr class="line-bottom">
            </div>
        </div>
        <div class="col-md-9" style="margin-top: 3rem">
            <div class="row">
                <div class="col-10 offset-1" id="Recipients_col">
                    <div class="__class" id="Campaign_Recipients_content">
                        {%include 'campaign_recipients.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Candidate_Info_content" style="display: none">
                        {%include 'candidate_info.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Race_Info_content" style="display: none">
                        {%include 'race_info.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Campaign_Story_content" style="display: none">
                        {%include 'campaign_story.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Fundraising_content" style="display: none">
                        {%include 'fundraising.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Privacy_Settings_content" style="display: none">
                        {%include 'privacy_settings.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Custom_Sharing_content" style="display: none">
                        {%include 'custom_sharing.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Campaign_Marketing_content" style="display: none">
                        {%include 'campaign_marketing.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Optional_Settings_content" style="display: none">
                        {%include 'optional_settings.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Publish_Your_Campaign_content" style="display: none">
                        {%include 'Publish_Your_Campaign.html'%}
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div class="__class" id="Contact_Support_content" style="display: none">
                        {%include 'contact_support.html'%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'modalForchangePlan.html' %}
    {% include 'modalCampaignPreview.html' %}
</div>
<script type="text/javascript">
    /*var context_candidate="";
    context_candidate= "{{context.candidate}}"
    if (context_candidate!= "") {
  
    document.getElementById("Candidate_Info").style.display = "block";
    document.getElementById("Race_Info").style.display = "block";
    document.getElementById("campaign_pro_preview").style.display = "block";
    if (img == null) {
        var data_letter = document.getElementById("pro_data_letter").style.display = "";
    } else {
        var img = document.getElementById("pro_image").style.display = "";

    }


    var pro_name = document.getElementById("pro_name").style.display = "";

}*/

function tab_pages(clicked_id) {
   
    var divs = document.getElementsByClassName("rclst");
    var cntntDivs = document.getElementsByClassName("__class");
    var itemId = document.getElementById(clicked_id);
    var cntntId = document.getElementById(clicked_id + "_content");

    if (recipientsButton == false || campaign_title_pressed == false) {
        if (confirm('You have unsaved changes, do you really want to leave this page?')) {
            var elements = document.getElementsByTagName("input");
            for (var ii = 0; ii < elements.length; ii++) {
                if (elements[ii].type == "text") {
                    elements[ii].value = "";
                }
            }

            recipientsButton = true;
            campaign_title_pressed = true;
            for (var i = 0; i < divs.length; i++) {
                divs[i].style.cssText = "font-weight: normal";
            }
            for (var i = 0; i < cntntDivs.length; i++) {
                cntntDivs[i].style.cssText = "display:none";
            }
            
            itemId.style.cssText = 'font-weight:bold';
            cntntId.style.cssText = 'display:block';
            $("#Candidate_Info").hide();
            $("#Race_Info").hide();
            
            if(clicked_id==="Publish_Your_Campaign")
            {
                
                onload_Publish_Your_Campaign_content(complete_campaign_recipients,complete_campaign_story,complete_candidate_info,complete_race_info);
            }

        } 
    } else {
        for (var i = 0; i < divs.length; i++) {
            divs[i].style.cssText = "font-weight: normal";
        }
        for (var i = 0; i < cntntDivs.length; i++) {
            cntntDivs[i].style.cssText = "display:none";
        }
        
        itemId.style.cssText = 'font-weight:bold';
        cntntId.style.cssText = 'display:block';
        $("#Candidate_Info").hide();
        $("#Race_Info").hide();
        if(clicked_id=="Publish_Your_Campaign")
        {
            
            onload_Publish_Your_Campaign_content(complete_campaign_recipients,complete_campaign_story,complete_candidate_info,complete_race_info);
        }
    }
}

</script>
{%endblock container%}
{% block script %}
     <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %} "></script>
   

    
{% endblock script %}